:root {
  --x: 100px;
  --y: 100px;
  --w: 100px;
  --h: 100px;
}
.border {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--w);
  height: var(--h);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-top-width: var(--y);
  border-right-width: calc(100vw - var(--x) - var(--w));
  border-bottom-width: calc(100vh - var(--y) - var(--h));
  border-left-width: var(--x);
}