<%- include('header') %>
<style type="text/css">
  .page__candies-container {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    box-sizing: border-box;
    direction: ltr;
    line-height: 1.3;
    font-size: 1em;
  }
  .page__candies-container h1 {
    text-align: center;
    margin: 0 0 0.5em;
    border-bottom: 1px dashed #aaa;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    padding: 0;
    direction: ltr;
    word-wrap: break-word;
  }
  .page__candies-container ol li {
    color: #363644;
    padding: 1px 5px;
  }
  .page__candies-container a {
    text-decoration: none;
    cursor: pointer;
    color: #ba832c;
  }
  .page__candies-container dl,
  .page__candies-container ol,
  .page__candies-container p,
  .page__candies-container pre,
  .page__candies-container table,
  .page__candies-container ul {
    margin-bottom: 1em;
  }
  .page__candies-container pre {
    background: #384047;
    color: #fff;
    word-wrap: normal;
    overflow-x: auto;
    padding: 5px;
  }
  .page__candies-container pre code {
    font-size: 10pt;
    background: 0 0;
    padding: 0;
    border-radius: 0;
    white-space: pre-wrap;
    color: #ccc;
  }
  .page__candies-container code {
    overflow-y: auto;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 0 4px;
    border-radius: 3px;
  }
  .page__candies-container .footnote-box {
      box-sizing: border-box;
      border: 1px solid #aaa;
      width: 100%;
      clear: both;
      font-size: 88%;
      text-align: left;
      padding: 3px;
      margin: 0 auto;
      background: #fdfdfd;
      display: inline-block;
  }
  .page__candies-container .footnote-box ul li {
    list-style: decimal;
    transition: none;
    padding: 0;
    margin: 0 0 0.1em;
    position: initial;
    color: #252525;
    line-height: 1.6;
    font-size: .875em;
  }
  .page__candies-container .footnote-box .backlink {
    user-select: none;
    padding-right: 5px;
  }
  .page__candies-container .footnote-box .backlink b a {
    background-image: none;
    padding: 0;
    text-decoration: none;
    color: #0645ad;
  }
  .page__candies-container .footnote-box .reference-text {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    word-break: break-all;
    word-wrap: break-word;
  }
  .page__candies-container table {
    color: #f6e6cc;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #3B5F9B;
    border-top: 1px solid #3B5F9B;
  }
  .page__candies-container td,
  .page__candies-container th {
    max-width: 700px;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    padding: 3px 5px;
  }
  .page__candies-container th {
    background: #3B5F9B;
    color: #fff;
  }
  .page__candies-container tbody, .page__candies-container thead {
    border: 3px solid #3B5F9B;
  }
  .page__candies-container td {
    background: #fff;
    color: #777;
  }
  .content__section {
    float: left;
    margin: 0 30px 20px 0;
  }
  .content__section .content-box__markdown--toc {
    display: table;
    zoom: 1;
    padding: 7px 10px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    font-size: 95%;
    direction: ltr;
    line-height: 1.6;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
  }
  .content__section .content-box__markdown--toc ol {
    padding: 0;
    counter-reset: out;
    list-style: none;
    text-align: left;
    margin: 0 0 0 1em;
  }
  .content__section .content-box__markdown--toc ol li {
    color: #ba832c;
    padding: 1px 5px;
  }
  .content__section .content-box__markdown--toc ol li:before {
    margin-right: 5px;
    counter-increment: out;
    content: counters(out,".")" ";
  }
  .content__section .content-box__markdown--toc ol li a {
    background: 0 0;
    font-weight: 100;
  }
  .page__candies-container .hljs-attribute,.page__candies-container .hljs-keyword,.page__candies-container .hljs-meta-keyword,.page__candies-container .hljs-name,.page__candies-container .hljs-selector-tag {
    color: #00bcd4
  }

  .page__candies-container .hljs-number,.page__candies-container .hljs-quote,.page__candies-container .hljs-selector-class,.page__candies-container .hljs-selector-id,.page__candies-container .hljs-string,.page__candies-container .hljs-type {
      color: #ffeb3b
  }

  .page__candies-container .hljs-section,.page__candies-container .hljs-title {
      color: #ff5722
  }

  .page__candies-container .hljs-built_in,.page__candies-container .hljs-bullet {
      color: #4caf50
  }

  .page__candies-container .hljs-regexp,.page__candies-container .hljs-selector-attr,.page__candies-container .hljs-selector-pseudo,.page__candies-container .hljs-symbol,.page__candies-container .hljs-variable {
      color: #e91e63
  }
</style>
<div class="page__candies-container">
  <%- content %>
</div>
<script type="text/javascript">
  $(function () {
    $('img').each(function () {
      var _self = $(this);
      var altCache = _self.attr('alt');
      if (altCache === 'svg') {
        var hrefCache = _self.attr('src');
        var dataCache = hrefCache.substr(0, (hrefCache.length - 3)) + 'svg';
        _self.replaceWith('<p class="svgNodePhoto"><object data="' + dataCache + '" type="image/svg+xml"></object></p>')
      }
    });
  });
</script>
<%- include('footer') %>