<!doctype html>
<html>

<head>
   
</head>

<body>
    <header class="header">
        <div class="header__content w-900">
            <h1 class="content__title">
                <a class="title__link-a" href="#">KangKK<span class="title__link-span--icon iconfont icon-github"></span></a>
                <small class="content__btn">
                    <p>多读书，多运动，多到远处走走，再看看不一样的世界。</p>
                </small>
            </h1>
        </div>
    </header>
    <div class="container container-hiddle" id="container-hiddle" style="display:none;">
        <!-- <%- content %> -->
    </div>
    <div id="container-show" class="container-show">
        <div id="background"></div>
        <ul id="ul-show" class="sections">

        </ul>
    </div>
    <script type="text/javascript">
        console.time('test documentFragment')
        var presign = false;
        var itmp = 0;
        var oFragmeng = document.createDocumentFragment();
        var container_children = document.getElementById('container-hiddle').childNodes;

        for (var i = 0, length = container_children.length; i < length; i += 1) {

            var childClone = container_children[i].cloneNode(true);

            if (container_children[i].nodeName === 'H1' && container_children[i].nodeName !== '#text') {
                itmp = itmp + 1
                var li = document.createElement("li");
                li.setAttribute('id', 'section-' + itmp);
                var annotation = document.createElement("div");
                annotation.setAttribute('class', 'annotation');
                annotation.appendChild(childClone);
                li.appendChild(annotation);
                oFragmeng.appendChild(li);
            } else if (container_children[i].nodeName !== '#text') {
                itmp = itmp + 1
                var li = document.createElement("li");
                var annotation = document.createElement("div");
                var pilwrap = document.createElement("div");
                var pilcrow = document.createElement("a");

                li.setAttribute('id', 'section-' + itmp);
                annotation.setAttribute('class', 'annotation');
                pilwrap.setAttribute('class', 'pilwrap');
                pilcrow.setAttribute('class', 'pilcrow');

                pilcrow.href = '#section-' + itmp;
                pilcrow.text = '¶'

                pilwrap.appendChild(pilcrow);
                annotation.appendChild(pilwrap);

                if (container_children[i].nodeName === 'PRE') {
                    var content = document.createElement("div");
                    var highlight = document.createElement("div");

                    content.setAttribute('class', 'content');
                    highlight.setAttribute('class', 'highlight');

                    content.appendChild(highlight);
                    highlight.appendChild(childClone);
                    li.appendChild(annotation);
                    li.appendChild(content);
                    oFragmeng.appendChild(li);
                    presign = true;
                } else {
                    if (presign) {
                        itmp = itmp - 1;
                        oFragmeng.children['section-' + itmp].firstElementChild.appendChild(childClone);
                        presign = false;
                    } else {
                        annotation.appendChild(childClone);
                        li.appendChild(annotation);
                        oFragmeng.appendChild(li);
                    }
                }
            }
        }
        document.getElementById('ul-show').appendChild(oFragmeng);
        oFragmeng = null;
        console.timeEnd('test documentFragment')
    </script>

    <!-- <%- include('footer') %> -->
