<%- include('header') %>
<style type="text/css">
  .page__waterChestnut-container {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    padding: 50px;
    margin-bottom: 50px;
    background: #fff;
    position: relative;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
    border-left: 1px solid;
    border-right: 1px solid;
    border-image: linear-gradient(180deg, transparent 0%, transparent 30%, rgba(0, 0, 0, 0.1) 100%) 1 1 1 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page__waterChestnut-container::before,
  .page__waterChestnut-container::after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
  }

  .page__waterChestnut-container::after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  .page__waterChestnut-container h1 {
    text-align: center;
    margin: 0 0 0.5em;
    border-bottom: 1px dashed #aaa;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    padding: 0;
    direction: ltr;
    word-wrap: break-word;
  }

  .page__waterChestnut-container pre {
    padding: 20px;
    position: relative;
    box-sizing: content-box;
    display: block;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0.4em;
    overflow-x: hidden;
    font-size: 10pt;
    white-space: pre;
    box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
    color: #87968e;
    background: #fff2e3;
    text-align: center;
    width: 700px;
    margin: 50px auto;
    z-index: 100;
    perspective: 700px;
    backface-visibility: hidden;
    border: none;
  }

  .page__waterChestnut-container code {
    overflow-y: auto;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 0 4px;
    border-radius: 3px;
  }
</style>
<div class="page__waterChestnut-container">
  <%- content %>
</div>
<%- include('footer') %>