kangkk

<table>
  <tbody>
    <% list.forEach(function(item, index){ %>
      <tr>
          <td>
              <%= (index+1) %>
          </td>
          <td>
              <a href="./<%= item %>" target="_blank">
                  <%= item %>
              </a>
          </td>
      </tr>
      <% }) %>
  </tbody>
</table>