<%- include('header') %>

<div class="container w-900">
    <%- content %>
</div>
<script>
$(function(){
  /**$('pre code').each(function(){
        var lines = $(this).text().split('\n').length - 1;
        var $numbering = $('<ul/>').addClass('pre-numbering');
        $(this)
            .addClass('has-numbering')
            .parent()
            .append($numbering);
        for(i=1;i<=lines;i++){
            $numbering.append($('<li/>').text(i));
        }
    });**/
    $('img').each(function(){
          var _self = $(this);
          var altCache = _self.attr('alt');
          if(altCache === 'svg'){
            var hrefCache = _self.attr('src');
            var dataCache = hrefCache.substr(0,(hrefCache.length-3))+'svg';
            _self.replaceWith('<p class="svgNodePhoto"><object data="'+dataCache+'" type="image/svg+xml"></object></p>')
          }
      });
});
</script>
<%- include('footer') %>
