<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>KK.</title>
  <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
  <link crossorigin="anonymous" integrity="sha384-9Z9AuAj0Xi0z7WFOSgjjow8EnNY9wPNp925TVLlAyWhvZPsf5Ks23Ex0mxIrWJzJ"
    href="https://s2.ssl.qhres2.com/baomitu/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%- include('../assets') %>
  <style type="text/css">
    table tr td:first-of-type {
      padding: 5px 20px 5px 0;
    }
  </style>
  </head>
  <body>
    <header>
      <h2>KangKK.COM</h2>
      <small>喜欢闭着眼睛走路，短短四十步心扑扑跳，永远不知道下一步会走到哪里</small>
    </header>
    <div>
      <div>
        <p>在过去的一段时间里我思考为什么崇尚极简，极简与极繁之间又如何去平衡</p>
      </div>
      <table>
        <tbody>
          <tr>
            <td>童年</td>
            <td>在乡下认真生活，童年是流动的河水，童年是稻田里的蛙声。</td>
          </tr>
          <tr>
            <td>少年</td>
            <td>普普通通，喜欢玩篮球，喜欢玩网游，阅读书籍，热爱诗篇。</td>
          </tr>
          <tr>
            <td>青年</td>
            <td>朦朦胧胧，浑浑噩噩，思考大多于行动，探索却又很少结论。</td>
          </tr>
        </tbody>
      </table>

      <table>
        <tbody>
          <tr>
            <td>2010 - 2016</td>
            <td>在很长的一段时间里辗转于域名的圈子。</td>
          </tr>
          <tr>
            <td>2014 - 2015</td>
            <td>风控。无贼。</td>
          </tr>
          <tr>
            <td>2015 - 2021</td>
            <td>在自己的自由时间里并没有抉择好自己的事情，疫情又来的突然。</td>
          </tr>
          <tr>
            <td>2021 - 2023</td>
            <td>qnpm qcdn 75cdn design bingo qfont</td>
          </tr>
        </tbody>
      </table>
    </div>
    <%- include('../home/footer') %>
  </body>
</html>