$width: 100px;
$borderWidth: 2px;
.box {
  position: absolute;
  width: 0px;
  height: 0px;
  border: $width / 2 solid white;
}
.row {
  animation: box-animation 750ms linear infinite;
}
.col {
  width: 0px;
  height: 0px;
  border-radius: 50%;
}
@keyframes box-animation {
  0% {
    border-color: red green black yellow;
  }
  25% {
    border-color: green black yellow red;
  }
  50% {
    border-color: black yellow red green;
  }
  75% {
    border-color: yellow red green black;
  }
  100% {
    border-color: red green black yellow;
  }
}
