:root {
  --circle-width: 100px;
  --circle-width: 100px;
  --circle-mask: radial-gradient(transparent 44px, #000 45px);
}
.circle {
	width: var(--circle-width);
	height: var(--circle-width);
	position: relative;
	border-radius: 50%;
	background: conic-gradient(red 0%, blue 50%, yellow 100%);
	mask: var(--circle-mask);
  -webkit-mask: var(--circle-mask);
}
.circle::before, .circle::after {
  content: '';
	position: absolute;
  border-radius: 50%;
	width: 8px;
	height: 8px;
}
/* 处理进度条的圆角 */
.circle::before {
	left: 48px;
	top: -1px;
	background: #000;
}
.circle::after {
	left: -1px;
	top: 44px;
	background: #fff;
}