/* folder container style start */
div.container {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.3;
  font-size: 1em;
  /* folder markdown-toc style start */
  /* folder markdown-toc style end */
  /* footnote style start */ }
  div.container .content__section .content-box__markdown--toc {
    margin: 15px 0 20px 50px;
    display: table;
    zoom: 1;
    padding: 7px 10px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    font-size: 95%;
    direction: ltr;
    line-height: 1.6;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden; }
    div.container .content__section .content-box__markdown--toc > ol {
      margin: 0.3em 0 !important; }
    div.container .content__section .content-box__markdown--toc ol {
      margin: 0 0 0 1em;
      padding: 0;
      counter-reset: out;
      list-style: none;
      text-align: left;
      margin-bottom: 0; }
      div.container .content__section .content-box__markdown--toc ol li {
        color: #ba832c; }
        div.container .content__section .content-box__markdown--toc ol li:before {
          margin-right: 5px;
          counter-increment: out;
          content: counters(out,".") " "; }
        div.container .content__section .content-box__markdown--toc ol li a {
          text-decoration: none;
          background: none;
          font-weight: 100; }
  div.container sup.reference {
    font-weight: normal;
    font-style: normal;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    white-space: nowrap;
    direction: ltr; }
  div.container sup.reference a {
    white-space: nowrap;
    text-decoration: none;
    color: #0b0080;
    background: none;
    font-size: 10px;
    padding: 0 3px; }
  div.container sub,
  div.container sup {
    line-height: 1; }
  div.container .footnote-box {
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 100%;
    clear: both;
    font-size: 88%;
    text-align: left;
    padding: 3px;
    margin: 0 auto;
    background: #fdfdfd;
    display: inline-block; }
    div.container .footnote-box ul {
      display: inline-block;
      list-style-type: decimal;
      list-style-image: none;
      padding: 0;
      margin: 0.3em 2em;
      text-align: left;
      color: #252525;
      counter-reset: xxx 0;
      line-height: 0.3; }
      div.container .footnote-box ul li {
        list-style: decimal;
        transition: none;
        padding: 0;
        margin: 0 0 0.1em;
        position: initial;
        color: #252525;
        line-height: 1.6;
        font-size: 0.875em; }
        div.container .footnote-box ul li::before {
          content: none; }
    div.container .footnote-box .backlink {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-right: 5px; }
      div.container .footnote-box .backlink b a {
        background-image: none;
        padding: 0;
        text-decoration: none;
        color: #0645ad; }
        div.container .footnote-box .backlink b a:visited {
          font-weight: bold;
          color: #0b0080; }
    div.container .footnote-box .reference-text {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
      word-break: break-all;
      word-wrap: break-word; }
    div.container .footnote-box a {
      text-decoration: none;
      color: #0645ad; }
  div.container > h1 {
    margin: 0 0 0.1em;
    background: none;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    direction: ltr;
    border-bottom: 1px solid #aaa;
    margin: 0 0 0.1em;
    background: none;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    direction: ltr; }
  div.container > p > strong > em {
    font-size: 14px;
    font-weight: 100;
    zoom: 1;
    vertical-align: middle;
    text-overflow: ellipsis;
    line-height: 20px; }
  div.container ol,
  div.container ul {
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.5); }
  div.container ul {
    padding: 0; }
    div.container ul > li {
      margin: 0 0 0.5em 10px;
      color: #333; }
  div.container ol li {
    color: #363644;
    padding: 1px 5px; }
  div.container pre {
    background: #f5f5f5;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #333;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
    /*-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);*/ }
  div.container dl,
  div.container ol,
  div.container p,
  div.container pre,
  div.container table,
  div.container ul {
    margin-bottom: 1em; }
  div.container table {
    color: #f6e6cc; }
  div.container table {
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #3B5F9B;
    border-top: 1px solid #3B5F9B; }
  div.container td,
  div.container th {
    max-width: 700px;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    padding: 3px 5px; }
  div.container th {
    background: #3B5F9B;
    color: #fff; }
  div.container tbody,
  div.container thead {
    border: 3px solid #3B5F9B; }
  div.container td {
    background: #fff;
    color: #777; }
  div.container img {
    display: inline-block;
    /*border: 5px solid rgba(246, 247, 248, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.08);*/
    width: auto;
    max-width: 100%; }
  div.container iframe {
    width: 100%;
    min-height: 150px;
    max-height: 600px;
    /*border: 3px dotted #627680;*/
    overflow: hidden; }
  div.container a {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("../bgimg/external-link-ltr-icon.png");
    background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
    padding-right: 13px; }
  div.container blockquote ul {
    margin: 0 0 0 20px; }
    div.container blockquote ul li {
      list-style: inherit;
      transition: none;
      padding: 0;
      margin: 0 0 0.1em;
      position: initial;
      color: #ba832c; }
      div.container blockquote ul li::before {
        content: none; }
      div.container blockquote ul li ul {
        margin-left: 20px; }

@media print, screen and (max-width: 720px) {
  pre {
    max-width: 370px; } }
@media print, screen and (max-width: 800px) {
  pre {
    max-width: 370px; } }
/* folder header style end */
@media print, screen and (max-width: 480px) {
  table {
    overflow-x: overlay;
    max-width: 340px;
    display: inline-block; }
    table td,
    table th {
      min-width: 100px; }

  .content-box__markdown--toc {
    margin: 15px 0 20px 10px !important; }

  p a {
    text-wrap: normal;
    word-wrap: break-word; }
  p code {
    word-wrap: break-word; } }
/* folder container style end */

/*# sourceMappingURL=container.css.map */
