/* folder container style start */
/* line 3, ../sass/container.scss */
div.container {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.3;
  font-size: 1em;
  /* folder markdown-toc style start */
  /* folder markdown-toc style end */
  /* footnote style start */
}
/* line 4, ../sass/func.scss */
div.container .content__section {
  float: left;
  margin: 0 30px 20px 0;
}
/* line 11, ../sass/func.scss */
div.container .content__section .content-box__markdown--toc {
  display: table;
  zoom: 1;
  padding: 7px 10px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  font-size: 95%;
  direction: ltr;
  line-height: 1.6;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 23, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc > ol {
  margin: 0.3em 0 !important;
}
/* line 26, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol {
  margin: 0 0 0 1em;
  padding: 0;
  counter-reset: out;
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}
/* line 33, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li {
  color: #ba832c;
}
/* line 35, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li:before {
  margin-right: 5px;
  counter-increment: out;
  content: counters(out,".") " ";
}
/* line 40, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li a {
  text-decoration: none;
  background: none;
  font-weight: 100;
}
/* line 2, ../sass/reference.scss */
div.container sup.reference {
  font-weight: normal;
  font-style: normal;
  unicode-bidi: -moz-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  white-space: nowrap;
  direction: ltr;
}
/* line 11, ../sass/reference.scss */
div.container sup.reference a {
  white-space: nowrap;
  text-decoration: none;
  color: #0b0080;
  background: none;
  font-size: 10px;
  padding: 0 3px;
}
/* line 19, ../sass/reference.scss */
div.container sub,
div.container sup {
  line-height: 1;
}
/* line 23, ../sass/reference.scss */
div.container .footnote-box {
  box-sizing: border-box;
  border: 1px solid #aaa;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: left;
  padding: 3px;
  margin: 0 auto;
  background: #fdfdfd;
  display: inline-block;
}
/* line 34, ../sass/reference.scss */
div.container .footnote-box ul {
  display: inline-block;
  list-style-type: decimal;
  list-style-image: none;
  padding: 0;
  margin: 0.3em 2em;
  text-align: left;
  color: #252525;
  counter-reset: xxx 0;
  line-height: 0.3;
}
/* line 44, ../sass/reference.scss */
div.container .footnote-box ul li {
  list-style: decimal;
  transition: none;
  padding: 0;
  margin: 0 0 0.1em;
  position: initial;
  color: #252525;
  line-height: 1.6;
  font-size: 0.875em;
}
/* line 53, ../sass/reference.scss */
div.container .footnote-box ul li::before {
  content: none;
}
/* line 58, ../sass/reference.scss */
div.container .footnote-box .backlink {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 5px;
}
/* line 64, ../sass/reference.scss */
div.container .footnote-box .backlink b a {
  background-image: none;
  padding: 0;
  text-decoration: none;
  color: #0645ad;
}
/* line 69, ../sass/reference.scss */
div.container .footnote-box .backlink b a:visited {
  font-weight: bold;
  color: #0b0080;
}
/* line 75, ../sass/reference.scss */
div.container .footnote-box .reference-text {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 82, ../sass/reference.scss */
div.container .footnote-box a {
  text-decoration: none;
  color: #0645ad;
}
/* line 12, ../sass/container.scss */
div.container .tableTree {
  border: 0;
  font-size: 80%;
  line-height: 75%;
}
/* line 16, ../sass/container.scss */
div.container .tableTree table, div.container .tableTree tbody {
  border: 0;
  margin: 0;
}
/* line 20, ../sass/container.scss */
div.container .tableTree .treeTd {
  width: 1.5em;
  border-bottom: 1px solid black;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0 0.2em;
  vertical-align: bottom;
  text-align: center;
}
/* line 31, ../sass/container.scss */
div.container .tableTree .treeTd2 {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  vertical-align: top;
}
/* line 39, ../sass/container.scss */
div.container .tableTree .treeTd3 {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  padding: 0 0.2em;
  vertical-align: bottom;
  text-align: center;
}
/* line 48, ../sass/container.scss */
div.container .tableTree .treeTdNoBorder {
  border: 0;
  padding: 0;
}
/* line 51, ../sass/container.scss */
div.container .tableTree .treeTdFooter {
  border: 0;
  padding: 0;
  vertical-align: top;
}
/* line 54, ../sass/container.scss */
div.container .tableTree .treeTdContentText {
  padding-left: 5px;
}
/* line 58, ../sass/container.scss */
div.container .svgNodePhoto {
  margin: 0;
}
/* line 61, ../sass/container.scss */
div.container .has-numbering {
  margin-left: 21px;
  display: inline-block;
}
/* line 65, ../sass/container.scss */
div.container .pre-numbering {
  position: absolute;
  top: 0;
  left: -23px;
  width: 20px;
  padding: 12px 2px 10px 0;
  border-right: 1px solid #C3CCD0;
  border-radius: 3px 0 0 3px;
  background-color: #EEE;
  text-align: right;
  font-family: Menlo, monospace;
  font-size: 0.8em;
  color: #AAA;
  margin: 0 0 0 20px;
  margin-bottom: 0px;
  line-height: 1.1;
}
/* line 81, ../sass/container.scss */
div.container .pre-numbering > li {
  margin: 0 !important;
  font-size: 10pt;
}
/* line 86, ../sass/container.scss */
div.container > h1 {
  margin: 0 0 .5em;
  padding: 0;
  direction: ltr;
  border-bottom: 1px solid #aaa;
  background: none;
  font-size: 3em;
  overflow: visible;
  line-height: 1.3;
  padding: 0;
  direction: ltr;
  word-wrap: break-word;
}
/* line 99, ../sass/container.scss */
div.container > p > strong > em {
  font-size: 14px;
  font-weight: 100;
  zoom: 1;
  vertical-align: middle;
  text-overflow: ellipsis;
  line-height: 20px;
}
/* line 107, ../sass/container.scss */
div.container ol,
div.container ul {
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.5);
}
/* line 113, ../sass/container.scss */
div.container ul {
  padding: 0;
}
/* line 115, ../sass/container.scss */
div.container ul > li {
  margin: 0 0 0.5em 10px;
  color: #333;
}
/* line 121, ../sass/container.scss */
div.container ol li {
  color: #363644;
  padding: 1px 5px;
}
/* line 126, ../sass/container.scss */
div.container pre {
  background: #384047;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  color: #fff;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  /*-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);*/
}
/* line 137, ../sass/container.scss */
div.container pre.pre-no-border {
  border: 1px solid #333;
  width: inherit;
  background: #FFEB3B;
  color: #E91E63;
}
/* line 144, ../sass/container.scss */
div.container .hljs-keyword, div.container .hljs-attribute, div.container .hljs-selector-tag, div.container .hljs-meta-keyword, div.container .hljs-doctag, div.container .hljs-name {
  color: #00BCD4;
}
/* line 147, ../sass/container.scss */
div.container .hljs-type, div.container .hljs-string, div.container .hljs-number, div.container .hljs-selector-id, div.container .hljs-selector-class, div.container .hljs-quote, div.container .hljs-template-tag, div.container .hljs-deletion {
  color: #FFEB3B;
}
/* line 150, ../sass/container.scss */
div.container .hljs-title, div.container .hljs-section {
  color: #FF5722;
}
/* line 153, ../sass/container.scss */
div.container .hljs-built_in, div.container .hljs-bullet, div.container .hljs-code, div.container .hljs-addition {
  color: #4CAF50;
}
/* line 156, ../sass/container.scss */
div.container .hljs-regexp, div.container .hljs-symbol, div.container .hljs-variable, div.container .hljs-template-variable, div.container .hljs-link, div.container .hljs-selector-attr, div.container .hljs-selector-pseudo {
  color: #E91E63;
}
/* line 159, ../sass/container.scss */
div.container dl,
div.container ol,
div.container p,
div.container pre,
div.container table,
div.container ul {
  margin-bottom: 1em;
}
/* line 167, ../sass/container.scss */
div.container table {
  color: #f6e6cc;
}
/* line 170, ../sass/container.scss */
div.container table {
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #3B5F9B;
  border-top: 1px solid #3B5F9B;
}
/* line 176, ../sass/container.scss */
div.container td,
div.container th {
  max-width: 700px;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  padding: 3px 5px;
}
/* line 185, ../sass/container.scss */
div.container th {
  background: #3B5F9B;
  color: #fff;
}
/* line 189, ../sass/container.scss */
div.container tbody,
div.container thead {
  border: 3px solid #3B5F9B;
}
/* line 193, ../sass/container.scss */
div.container td {
  background: #fff;
  color: #777;
}
/* line 197, ../sass/container.scss */
div.container img {
  display: inline-block;
  /*border: 5px solid rgba(246, 247, 248, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);*/
  width: auto;
  max-width: 100%;
}
/* line 206, ../sass/container.scss */
div.container iframe {
  width: 100%;
  min-height: 150px;
  max-height: 600px;
  /*border: 3px dotted #627680;*/
  overflow: hidden;
}
/* line 213, ../sass/container.scss */
div.container a {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("../bgimg/external-link-ltr-icon.png");
  background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
  padding-right: 13px;
}
/* line 220, ../sass/container.scss */
div.container blockquote ul {
  margin: 0 0 0 20px;
}
/* line 222, ../sass/container.scss */
div.container blockquote ul li {
  list-style: inherit;
  transition: none;
  padding: 0;
  margin: 0 0 0.1em;
  position: initial;
  color: #ba832c;
}
/* line 229, ../sass/container.scss */
div.container blockquote ul li::before {
  content: none;
}
/* line 232, ../sass/container.scss */
div.container blockquote ul li ul {
  margin-left: 20px;
}

@media print, screen and (max-width: 720px) {
  /* line 239, ../sass/container.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 244, ../sass/container.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 251, ../sass/container.scss */
  table {
    overflow-x: overlay;
    max-width: 340px;
    display: inline-block;
  }
  /* line 255, ../sass/container.scss */
  table td,
  table th {
    min-width: 100px;
  }

  /* line 260, ../sass/container.scss */
  .content-box__markdown--toc {
    margin: 15px 0 20px 10px !important;
  }

  /* line 264, ../sass/container.scss */
  p a {
    text-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
  /* line 269, ../sass/container.scss */
  p code {
    word-wrap: break-word;
    word-break: break-all;
  }

  /* line 274, ../sass/container.scss */
  pre {
    max-width: 100% !important;
    padding: 10px 0 !important;
  }

  /* line 278, ../sass/container.scss */
  .container {
    margin: 0 !important;
  }
}
/* folder container style end */

/*# sourceMappingURL=container.css.map */
