@charset "UTF-8";
/* folder header style start */
/* line 3, ../sass/header.scss */
.header {
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}
/* line 4, ../sass/func.scss */
.header__content {
  text-align: center;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
/* line 4, ../sass/func.scss */
.header .content__title {
  display: inline;
}
/* line 4, ../sass/func.scss */
.header .content__btn {
  font-size: 90%;
}

@media print, screen and (max-width: 720px) {
  /* line 30, ../sass/header.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 35, ../sass/header.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 44, ../sass/header.scss */
  .header .content__title {
    font-size: 2em !important;
  }
  /* line 47, ../sass/header.scss */
  .header .content__btn .content__btn-a {
    font-size: 1em !important;
  }
}
/* folder footer style start */
/* line 3, ../sass/footer.scss */
.footer {
  padding: 0;
}
/* line 7, ../sass/footer.scss */
.footer .footer__backToTop-btn {
  position: fixed;
  padding: 0;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 50px;
  height: 50px;
  background: #ddd;
  color: rgba(39, 174, 96, 0.6);
  text-align: center;
  border-radius: 2px;
  z-index: 1;
}
/* line 11, ../sass/func.scss */
.footer .footer__backToTop-btn--icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 10px;
  left: 10px;
  color: #fff;
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  text-rendering: auto;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 41, ../sass/footer.scss */
.footer__github-btn {
  position: fixed;
  right: -60px;
  bottom: 50px;
  z-index: 10;
  line-height: 30px;
  text-align: center;
  width: 250px;
  font-size: 16px;
  text-decoration: none;
  color: #f5f5f5 !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
  border: 1px solid #000;
  background-color: #363644;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
  background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
  background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
  background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
  background-image: -o-radial-gradient(circle, #4c5b63, #363644);
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  margin: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 101;
}
/* line 86, ../sass/footer.scss */
.footer__github-btn:hover {
  text-decoration: none;
  background-color: #4d4d60;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
  background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
  background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
  background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
  background-image: -o-radial-gradient(circle, #627680, #4d4d60);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
}
/* line 4, ../sass/func.scss */
.footer .content__section {
  display: inline;
}
/* line 109, ../sass/footer.scss */
.footer .content__a-btn {
  display: block;
}
/* line 11, ../sass/func.scss */
.footer .content__p--word {
  padding: 0;
  margin: 0.5em 0;
  font-weight: bold;
  break-inside: avoid-column;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 11, ../sass/func.scss */
.footer .content__text-p--desc {
  font-size: 0.875em;
  text-align: left;
  margin: 0 0 2em;
  color: rgba(0, 0, 0, 0.35);
}
/* line 130, ../sass/footer.scss */
.footer .content__text-p--desc em {
  font-style: italic;
  font-weight: 400;
}
/* line 11, ../sass/func.scss */
.footer .content__text-p--desc .text__span--link {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: 0 0;
}
/* line 144, ../sass/footer.scss */
.footer .content__text-p--desc .text__span--link a:link {
  -webkit-tap-highlight-color: rgba(229, 59, 44, 0.4);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
/* line 149, ../sass/footer.scss */
.footer .content__text-p--desc .text__span--link a:link,
.footer .content__text-p--desc .text__span--link a:visited {
  border-bottom: 0.08em solid rgba(0, 0, 0, 0.1);
}

/* folder footer style end */
@media print, screen and (max-width: 480px) {
  /* line 163, ../sass/footer.scss */
  .footer {
    padding: 20px;
    box-sizing: border-box;
  }
}
/* folder container style start */
/* line 3, ../sass/container.scss */
div.container {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.3;
  font-size: 1em;
  /* folder markdown-toc style start */
  /* folder markdown-toc style end */
  /* footnote style start */
}
/* line 4, ../sass/func.scss */
div.container .content__section {
  float: left;
  margin: 0 30px 20px 0;
}
/* line 11, ../sass/func.scss */
div.container .content__section .content-box__markdown--toc {
  display: table;
  zoom: 1;
  padding: 7px 10px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  font-size: 95%;
  direction: ltr;
  line-height: 1.6;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 23, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc > ol {
  margin: 0.3em 0 !important;
}
/* line 26, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol {
  margin: 0 0 0 1em;
  padding: 0;
  counter-reset: out;
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}
/* line 33, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li {
  color: #ba832c;
}
/* line 35, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li:before {
  margin-right: 5px;
  counter-increment: out;
  content: counters(out,".") " ";
}
/* line 40, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li a {
  text-decoration: none;
  background: none;
  font-weight: 100;
}
/* line 2, ../sass/reference.scss */
div.container sup.reference {
  font-weight: normal;
  font-style: normal;
  unicode-bidi: -moz-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  white-space: nowrap;
  direction: ltr;
}
/* line 11, ../sass/reference.scss */
div.container sup.reference a {
  white-space: nowrap;
  text-decoration: none;
  color: #0b0080;
  background: none;
  font-size: 10px;
  padding: 0 3px;
}
/* line 19, ../sass/reference.scss */
div.container sub,
div.container sup {
  line-height: 1;
}
/* line 23, ../sass/reference.scss */
div.container .footnote-box {
  box-sizing: border-box;
  border: 1px solid #aaa;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: left;
  padding: 3px;
  margin: 0 auto;
  background: #fdfdfd;
  display: inline-block;
}
/* line 34, ../sass/reference.scss */
div.container .footnote-box ul {
  display: inline-block;
  list-style-type: decimal;
  list-style-image: none;
  padding: 0;
  margin: 0.3em 2em;
  text-align: left;
  color: #252525;
  counter-reset: xxx 0;
  line-height: 0.3;
}
/* line 44, ../sass/reference.scss */
div.container .footnote-box ul li {
  list-style: decimal;
  transition: none;
  padding: 0;
  margin: 0 0 0.1em;
  position: initial;
  color: #252525;
  line-height: 1.6;
  font-size: 0.875em;
}
/* line 53, ../sass/reference.scss */
div.container .footnote-box ul li::before {
  content: none;
}
/* line 58, ../sass/reference.scss */
div.container .footnote-box .backlink {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 5px;
}
/* line 64, ../sass/reference.scss */
div.container .footnote-box .backlink b a {
  background-image: none;
  padding: 0;
  text-decoration: none;
  color: #0645ad;
}
/* line 69, ../sass/reference.scss */
div.container .footnote-box .backlink b a:visited {
  font-weight: bold;
  color: #0b0080;
}
/* line 75, ../sass/reference.scss */
div.container .footnote-box .reference-text {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 82, ../sass/reference.scss */
div.container .footnote-box a {
  text-decoration: none;
  color: #0645ad;
}
/* line 12, ../sass/container.scss */
div.container .tableTree {
  border: 0;
  font-size: 80%;
  line-height: 75%;
}
/* line 16, ../sass/container.scss */
div.container .tableTree table, div.container .tableTree tbody {
  border: 0;
  margin: 0;
}
/* line 20, ../sass/container.scss */
div.container .tableTree .treeTd {
  width: 1.5em;
  border-bottom: 1px solid black;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0 0.2em;
  vertical-align: bottom;
  text-align: center;
}
/* line 31, ../sass/container.scss */
div.container .tableTree .treeTd2 {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  vertical-align: top;
}
/* line 39, ../sass/container.scss */
div.container .tableTree .treeTd3 {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  padding: 0 0.2em;
  vertical-align: bottom;
  text-align: center;
}
/* line 48, ../sass/container.scss */
div.container .tableTree .treeTdNoBorder {
  border: 0;
  padding: 0;
}
/* line 51, ../sass/container.scss */
div.container .tableTree .treeTdFooter {
  border: 0;
  padding: 0;
  vertical-align: top;
}
/* line 54, ../sass/container.scss */
div.container .tableTree .treeTdContentText {
  padding-left: 5px;
}
/* line 58, ../sass/container.scss */
div.container .svgNodePhoto {
  margin: 0;
}
/* line 61, ../sass/container.scss */
div.container .has-numbering {
  margin-left: 21px;
  display: inline-block;
}
/* line 65, ../sass/container.scss */
div.container .pre-numbering {
  position: absolute;
  top: 0;
  left: -23px;
  width: 20px;
  padding: 12px 2px 10px 0;
  border-right: 1px solid #C3CCD0;
  border-radius: 3px 0 0 3px;
  background-color: #EEE;
  text-align: right;
  font-family: Menlo, monospace;
  font-size: 0.8em;
  color: #AAA;
  margin: 0 0 0 20px;
  margin-bottom: 0px;
  line-height: 1.1;
}
/* line 81, ../sass/container.scss */
div.container .pre-numbering > li {
  margin: 0 !important;
  font-size: 10pt;
}
/* line 86, ../sass/container.scss */
div.container > h1 {
  margin: 0 0 .5em;
  padding: 0;
  direction: ltr;
  border-bottom: 1px solid #aaa;
  background: none;
  font-size: 3em;
  overflow: visible;
  line-height: 1.3;
  padding: 0;
  direction: ltr;
  word-wrap: break-word;
}
/* line 99, ../sass/container.scss */
div.container > p > strong > em {
  font-size: 14px;
  font-weight: 100;
  zoom: 1;
  vertical-align: middle;
  text-overflow: ellipsis;
  line-height: 20px;
}
/* line 107, ../sass/container.scss */
div.container ol,
div.container ul {
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.5);
}
/* line 113, ../sass/container.scss */
div.container ul {
  padding: 0;
}
/* line 115, ../sass/container.scss */
div.container ul > li {
  margin: 0 0 0.5em 10px;
  color: #333;
}
/* line 121, ../sass/container.scss */
div.container ol li {
  color: #363644;
  padding: 1px 5px;
}
/* line 126, ../sass/container.scss */
div.container pre {
  background: #384047;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  color: #fff;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  /*-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);*/
}
/* line 137, ../sass/container.scss */
div.container pre.pre-no-border {
  border: 1px solid #333;
  width: inherit;
  background: #FFEB3B;
  color: #E91E63;
}
/* line 144, ../sass/container.scss */
div.container .hljs-keyword, div.container .hljs-attribute, div.container .hljs-selector-tag, div.container .hljs-meta-keyword, div.container .hljs-doctag, div.container .hljs-name {
  color: #00BCD4;
}
/* line 147, ../sass/container.scss */
div.container .hljs-type, div.container .hljs-string, div.container .hljs-number, div.container .hljs-selector-id, div.container .hljs-selector-class, div.container .hljs-quote, div.container .hljs-template-tag, div.container .hljs-deletion {
  color: #FFEB3B;
}
/* line 150, ../sass/container.scss */
div.container .hljs-title, div.container .hljs-section {
  color: #FF5722;
}
/* line 153, ../sass/container.scss */
div.container .hljs-built_in, div.container .hljs-bullet, div.container .hljs-code, div.container .hljs-addition {
  color: #4CAF50;
}
/* line 156, ../sass/container.scss */
div.container .hljs-regexp, div.container .hljs-symbol, div.container .hljs-variable, div.container .hljs-template-variable, div.container .hljs-link, div.container .hljs-selector-attr, div.container .hljs-selector-pseudo {
  color: #E91E63;
}
/* line 159, ../sass/container.scss */
div.container dl,
div.container ol,
div.container p,
div.container pre,
div.container table,
div.container ul {
  margin-bottom: 1em;
}
/* line 167, ../sass/container.scss */
div.container table {
  color: #f6e6cc;
}
/* line 170, ../sass/container.scss */
div.container table {
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #3B5F9B;
  border-top: 1px solid #3B5F9B;
}
/* line 176, ../sass/container.scss */
div.container td,
div.container th {
  max-width: 700px;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  padding: 3px 5px;
}
/* line 185, ../sass/container.scss */
div.container th {
  background: #3B5F9B;
  color: #fff;
}
/* line 189, ../sass/container.scss */
div.container tbody,
div.container thead {
  border: 3px solid #3B5F9B;
}
/* line 193, ../sass/container.scss */
div.container td {
  background: #fff;
  color: #777;
}
/* line 197, ../sass/container.scss */
div.container img {
  display: inline-block;
  /*border: 5px solid rgba(246, 247, 248, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);*/
  width: auto;
  max-width: 100%;
}
/* line 206, ../sass/container.scss */
div.container iframe {
  width: 100%;
  min-height: 150px;
  max-height: 600px;
  /*border: 3px dotted #627680;*/
  overflow: hidden;
}
/* line 213, ../sass/container.scss */
div.container a {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("../bgimg/external-link-ltr-icon.png");
  background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
  padding-right: 13px;
}
/* line 220, ../sass/container.scss */
div.container blockquote ul {
  margin: 0 0 0 20px;
}
/* line 222, ../sass/container.scss */
div.container blockquote ul li {
  list-style: inherit;
  transition: none;
  padding: 0;
  margin: 0 0 0.1em;
  position: initial;
  color: #ba832c;
}
/* line 229, ../sass/container.scss */
div.container blockquote ul li::before {
  content: none;
}
/* line 232, ../sass/container.scss */
div.container blockquote ul li ul {
  margin-left: 20px;
}

@media print, screen and (max-width: 720px) {
  /* line 239, ../sass/container.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 244, ../sass/container.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 251, ../sass/container.scss */
  table {
    overflow-x: overlay;
    max-width: 340px;
    display: inline-block;
  }
  /* line 255, ../sass/container.scss */
  table td,
  table th {
    min-width: 100px;
  }

  /* line 260, ../sass/container.scss */
  .content-box__markdown--toc {
    margin: 15px 0 20px 10px !important;
  }

  /* line 264, ../sass/container.scss */
  p a {
    text-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
  /* line 269, ../sass/container.scss */
  p code {
    word-wrap: break-word;
    word-break: break-all;
  }

  /* line 274, ../sass/container.scss */
  pre {
    max-width: 100% !important;
    padding: 10px 0 !important;
  }

  /* line 278, ../sass/container.scss */
  .container {
    margin: 0 !important;
  }
}
/* folder container style end */
/* highlight style start */
/* line 4, ../sass/highlight.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}

/* Base color: saturation 0; */
/* line 13, ../sass/highlight.scss */
.hljs, .hljs-subst {
  color: #444;
}

/* line 16, ../sass/highlight.scss */
.hljs-comment {
  color: #888888;
}

/* line 19, ../sass/highlight.scss */
.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
  font-weight: bold;
}

/* User color: hue: 0 */
/* line 25, ../sass/highlight.scss */
.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #880000;
}

/* line 28, ../sass/highlight.scss */
.hljs-title, .hljs-section {
  color: #880000;
  font-weight: bold;
}

/* line 32, ../sass/highlight.scss */
.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo {
  color: #BC6060;
}

/* Language color: hue: 90; */
/* line 38, ../sass/highlight.scss */
.hljs-literal {
  color: #78A960;
}

/* line 41, ../sass/highlight.scss */
.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
  color: #397300;
}

/* Meta color: hue: 200 */
/* line 47, ../sass/highlight.scss */
.hljs-meta {
  color: #1f7199;
}

/* line 50, ../sass/highlight.scss */
.hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */
/* line 56, ../sass/highlight.scss */
.hljs-emphasis {
  font-style: italic;
}

/* line 59, ../sass/highlight.scss */
.hljs-strong {
  font-weight: bold;
}

/* line 5, ../sass/base.scss */
.w-900 {
  max-width: 900px;
  margin: 0 auto;
}

/* line 4, ../sass/func.scss */
.body__mood {
  background: #fffbd6;
}
/* line 12, ../sass/base.scss */
.body__mood .header {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}
/* line 18, ../sass/base.scss */
.body__mood .header .content__title {
  font-size: 320%;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}
/* line 23, ../sass/base.scss */
.body__mood .container {
  padding: 50px;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 28, ../sass/base.scss */
.body__mood .container:after, .body__mood .container:before {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 44, ../sass/base.scss */
.body__mood .container:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
/* line 50, ../sass/base.scss */
.body__mood .container h1 {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  text-align: center;
}
/* line 54, ../sass/base.scss */
.body__mood .container pre {
  padding: 20px;
  position: relative;
  box-sizing: content-box;
  display: block;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  overflow-x: hidden;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  white-space: pre;
  box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
  color: #87968e;
  background: #fff2e3;
  text-align: center;
  width: 700px;
  margin: 50px auto;
  z-index: 100;
  -webkit-perspective: 700px;
  perspective: 700px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
}
/* line 4, ../sass/func.scss */
.body__note {
  background: #fff;
}

/* line 93, ../sass/base.scss */
#ds-thread.ds-thread #ds-reset .ds-comments-info .ds-comments-tabs li.ds-tab .ds-comments-tab-weibo {
  display: none;
}
/* line 96, ../sass/base.scss */
#ds-thread.ds-thread #ds-reset .ds-comments-info .ds-comments-tabs li.ds-tab .ds-comments-tab-duoshuo {
  border: none;
  background-color: transparent;
}
/* line 103, ../sass/base.scss */
#ds-thread.ds-thread #ds-reset .ds-powered-by {
  display: none;
}

/* Let's get this party started */
/* line 109, ../sass/base.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
/* line 114, ../sass/base.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Handle */
/* line 122, ../sass/base.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(230, 230, 230, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 130, ../sass/base.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

/*
   Copyright 2014 GitHub Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

*/
/* line 18, ../sass/github-light.scss */
.pl-c {
  color: #969896;
}

/* line 22, ../sass/github-light.scss */
.pl-c1,
.pl-s .pl-v {
  color: #0086b3;
}

/* line 27, ../sass/github-light.scss */
.pl-e,
.pl-en {
  color: #795da3;
}

/* line 32, ../sass/github-light.scss */
.pl-s .pl-s1,
.pl-smi {
  color: #333;
}

/* line 37, ../sass/github-light.scss */
.pl-ent {
  color: #63a35c;
}

/* line 41, ../sass/github-light.scss */
.pl-k {
  color: #a71d5d;
}

/* line 45, ../sass/github-light.scss */
.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
  color: #183691;
}

/* line 55, ../sass/github-light.scss */
.pl-v {
  color: #ed6a43;
}

/* line 59, ../sass/github-light.scss */
.pl-id {
  color: #b52a1d;
}

/* line 63, ../sass/github-light.scss */
.pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

/* line 68, ../sass/github-light.scss */
.pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

/* line 73, ../sass/github-light.scss */
.pl-ml {
  color: #693a17;
}

/* line 77, ../sass/github-light.scss */
.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

/* line 84, ../sass/github-light.scss */
.pl-mq {
  color: #008080;
}

/* line 88, ../sass/github-light.scss */
.pl-mi {
  color: #333;
  font-style: italic;
}

/* line 93, ../sass/github-light.scss */
.pl-mb {
  color: #333;
  font-weight: bold;
}

/* line 98, ../sass/github-light.scss */
.pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

/* line 103, ../sass/github-light.scss */
.pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

/* line 108, ../sass/github-light.scss */
.pl-mdr {
  color: #795da3;
  font-weight: bold;
}

/* line 113, ../sass/github-light.scss */
.pl-mo {
  color: #1d3e81;
}

/* markdown style start*/
/* line 2, ../sass/mark.scss */
html {
  font-size: 62.5%;
}

/* line 5, ../sass/mark.scss */
body,
html {
  height: 100%;
}

/* line 9, ../sass/mark.scss */
body {
  font-family: georgia,times,Helvetica, Arial, sans-serif;
  font-size: 150%;
  color: #363644;
  width: 100%;
  background: #fff;
  margin: 0;
}

/* line 17, ../sass/mark.scss */
dl,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1em;
}

/* line 25, ../sass/mark.scss */
ul {
  margin-left: 20px;
}

/* line 28, ../sass/mark.scss */
table td a {
  color: #009688;
}

/* line 31, ../sass/mark.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #ba832c;
  font-weight: bold;
}
/* line 36, ../sass/mark.scss */
a:focus {
  outline: 1px dotted;
}
/* line 40, ../sass/mark.scss */
a:focus, a:hover {
  color: #d3a459;
  text-decoration: none;
}

/* line 46, ../sass/mark.scss */
a *,
button * {
  cursor: pointer;
}

/* line 50, ../sass/mark.scss */
hr {
  display: none;
}

/* line 53, ../sass/mark.scss */
small {
  font-size: 90%;
}

/* line 56, ../sass/mark.scss */
button,
input,
option,
select,
textarea {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  font-size: 100%;
}

/* line 64, ../sass/mark.scss */
button,
input[type=submit],
label,
option,
select {
  cursor: pointer;
}

/* line 71, ../sass/mark.scss */
sup {
  font-size: 80%;
  line-height: 1;
  vertical-align: super;
}

/* line 76, ../sass/mark.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 1px;
}

/* line 80, ../sass/mark.scss */
span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  line-height: 0.8;
}

/* line 87, ../sass/mark.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}

/* line 96, ../sass/mark.scss */
h2 {
  font-size: 22pt;
}

/* line 99, ../sass/mark.scss */
h3 {
  font-size: 20pt;
}

/* line 102, ../sass/mark.scss */
h4 {
  font-size: 18pt;
}

/* line 105, ../sass/mark.scss */
h5 {
  font-size: 16pt;
}

/* line 108, ../sass/mark.scss */
h6 {
  font-size: 14pt;
}

/* line 111, ../sass/mark.scss */
::selection {
  background: #00BCD4;
  color: #fff;
}

/* line 115, ../sass/mark.scss */
::-moz-selection {
  background: #00BCD4;
  color: #fff;
}

/* line 119, ../sass/mark.scss */
h1 {
  font-size: 420%;
  margin: 0 0 0.1em;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}
/* line 123, ../sass/mark.scss */
h1 a,
h1 a:hover {
  color: #d7af72;
  font-weight: normal;
}

/* line 129, ../sass/mark.scss */
pre {
  position: relative;
  padding: 8px 10px;
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-left: 5px solid #558abb;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  overflow-x: hidden;
}
/* line 146, ../sass/mark.scss */
pre code {
  font-size: 10pt;
  background: transparent;
  font-size: 10pt;
  background: transparent;
  color: #fff;
  padding: 0;
  border-radius: 0;
}

/* line 156, ../sass/mark.scss */
code {
  overflow-y: auto;
  color: #c7254e;
  background-color: #f9f2f4;
  padding: 0 4px;
  border-radius: 3px;
}

/* line 163, ../sass/mark.scss */
blockquote {
  display: table;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}
/* line 170, ../sass/mark.scss */
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -.4em;
}
/* line 178, ../sass/mark.scss */
blockquote p {
  display: inline;
}

/* markdown style end*/
/* line 2, ../sass/styles.scss */
body {
  padding: 50px;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 300;
}

/* line 8, ../sass/styles.scss */
.intro {
  font-size: 1.1rem;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
}

/* line 13, ../sass/styles.scss */
.intro a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #607d8b;
  -webkit-transition: border 0.25s linear;
  transition: border 0.25s linear;
}

/* line 20, ../sass/styles.scss */
.intro a,
.intro a:active,
.intro a:focus,
.intro a:hover,
.intro a:link,
.intro a:visited {
  -webkit-transition: background-color 0.25s linear,border-color 0.25s linear,box-shadow 0.25s linear,color 0.25s linear,opacity 0.25s linear;
  transition: background-color 0.25s linear,border-color 0.25s linear,box-shadow 0.25s linear,color 0.25s linear,opacity 0.25s linear;
}

/* line 29, ../sass/styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 20px;
}

/* line 38, ../sass/styles.scss */
dl,
ol,
p,
pre,
table,
ul {
  margin: 0 0 20px;
}

/* line 46, ../sass/styles.scss */
h1,
h2,
h3 {
  line-height: 1.1;
}

/* line 51, ../sass/styles.scss */
h1 {
  font-size: 28px;
  font-family: 'Libre Baskerville',serif;
  font-weight: 400;
  color: #11181b;
  line-height: 1.3;
}

/* line 58, ../sass/styles.scss */
.thistitle {
  font-family: 'Libre Baskerville',serif;
  font-weight: 400;
  color: #11181b;
  line-height: 1.3;
}

/* line 64, ../sass/styles.scss */
h2 {
  color: #393939;
}

/* line 67, ../sass/styles.scss */
h3,
h4,
h5,
h6 {
  color: #494949;
}

/* line 73, ../sass/styles.scss */
a {
  color: #39c;
  font-weight: 400;
  text-decoration: none;
}

/* line 78, ../sass/styles.scss */
a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}

/* line 84, ../sass/styles.scss */
.wrapper {
  width: 860px;
  margin: 0 auto;
}

/* line 88, ../sass/styles.scss */
blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

/* line 94, ../sass/styles.scss */
code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

/* line 100, ../sass/styles.scss */
pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

/* line 107, ../sass/styles.scss */
table {
  width: 100%;
  border-collapse: collapse;
}

/* line 111, ../sass/styles.scss */
td,
th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

/* line 117, ../sass/styles.scss */
dt {
  color: #444;
  font-weight: 700;
}

/* line 121, ../sass/styles.scss */
th {
  color: #444;
}

/* line 124, ../sass/styles.scss */
img {
  max-width: 100%;
}

/* line 127, ../sass/styles.scss */
header {
  width: 270px;
  float: left;
  position: fixed;
}

/* line 132, ../sass/styles.scss */
header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
  width: 270px;
}

/* line 148, ../sass/styles.scss */
header li {
  width: 89px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 40px;
}

/* line 154, ../sass/styles.scss */
header ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 40px;
}

/* line 163, ../sass/styles.scss */
strong {
  color: #222;
  font-weight: 700;
}

/* line 167, ../sass/styles.scss */
header ul li + li {
  width: 88px;
  border-left: 1px solid #fff;
}

/* line 171, ../sass/styles.scss */
header ul li + li + li {
  border-right: none;
  width: 89px;
}

/* line 175, ../sass/styles.scss */
header ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

/* line 180, ../sass/styles.scss */
section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

/* line 185, ../sass/styles.scss */
small {
  font-size: 11px;
}

/* line 188, ../sass/styles.scss */
hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

/* line 194, ../sass/styles.scss */
.hr-link {
  background-color: #bbb;
  background-image: -webkit-linear-gradient(0deg, #fff, #bbb, #fff);
}

/* line 198, ../sass/styles.scss */
td.no-border {
  border: none;
}

/* line 201, ../sass/styles.scss */
footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
}

@media print, screen and (max-width: 960px) {
  /* line 208, ../sass/styles.scss */
  div.wrapper {
    width: auto;
    margin: 0;
  }

  /* line 212, ../sass/styles.scss */
  footer,
  header,
  section {
    float: none;
    position: static;
    width: auto;
  }

  /* line 219, ../sass/styles.scss */
  header {
    padding-right: 320px;
  }

  /* line 222, ../sass/styles.scss */
  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  /* line 228, ../sass/styles.scss */
  header a small {
    display: inline;
  }

  /* line 231, ../sass/styles.scss */
  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}
@media print, screen and (max-width: 720px) {
  /* line 238, ../sass/styles.scss */
  body {
    word-wrap: break-word;
  }

  /* line 241, ../sass/styles.scss */
  header {
    padding: 0;
  }

  /* line 244, ../sass/styles.scss */
  header p.view,
  header ul {
    position: static;
  }

  /* line 248, ../sass/styles.scss */
  code,
  pre {
    word-wrap: normal;
  }
}
@media print, screen and (max-width: 480px) {
  /* line 254, ../sass/styles.scss */
  body {
    padding: 15px;
  }

  /* line 257, ../sass/styles.scss */
  header ul {
    display: none;
  }
}
@media print {
  /* line 262, ../sass/styles.scss */
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
/* line 268, ../sass/styles.scss */
.mr10px {
  margin-right: 10px;
}

/* line 271, ../sass/styles.scss */
.forkme {
  position: fixed;
  right: -60px;
  bottom: 50px;
  z-index: 10;
  line-height: 30px;
  text-align: center;
  width: 250px;
  font-size: 16px;
  text-decoration: none;
  color: #f5f5f5 !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
  border: 1px solid #000;
  background-color: #363644;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
  background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
  background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
  background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
  background-image: -o-radial-gradient(circle, #4c5b63, #363644);
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  margin: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 316, ../sass/styles.scss */
.forkme:hover {
  text-decoration: none;
  background-color: #4d4d60;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
  background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
  background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
  background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
  background-image: -o-radial-gradient(circle, #627680, #4d4d60);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
}

/* line 333, ../sass/styles.scss */
tr.weblink a, td.weblink a {
  color: #795da3;
}

/* line 337, ../sass/styles.scss */
.w-900 {
  width: 900px;
  margin: 0 auto;
}

/* line 341, ../sass/styles.scss */
.bs-docs-social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/* line 346, ../sass/styles.scss */
.bs-docs-social-buttons div {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}
/* line 350, ../sass/styles.scss */
.bs-docs-social-buttons div .github-btn,
.bs-docs-social-buttons div .help-btn {
  vertical-align: bottom;
}
/* line 354, ../sass/styles.scss */
.bs-docs-social-buttons div .github-btn {
  overflow: hidden;
  border: 0;
}

/* line 360, ../sass/styles.scss */
.ascllartTr {
  background: #333;
}
/* line 362, ../sass/styles.scss */
.ascllartTr #ascllart {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
/* line 366, ../sass/styles.scss */
.ascllartTr #ascllart .fig-ansi {
  display: inline-block;
  width: 100%;
  margin: 10px 0 0 0;
  padding: .1em;
  line-height: 1;
  font-size: 10px;
  color: #fff;
  border: none;
  background: transparent;
  font-family: "Courier New", Monospace;
  white-space: pre;
  overflow: hidden;
  height: 80px;
}

@media print, screen and (max-width: 600px) {
  /* line 384, ../sass/styles.scss */
  .ascllartTr {
    display: none;
  }

  /* line 387, ../sass/styles.scss */
  td {
    font-size: 10px !important;
  }
  /* line 389, ../sass/styles.scss */
  td i {
    font-size: 10px !important;
  }
  /* line 392, ../sass/styles.scss */
  td a {
    font-size: 10px !important;
  }
}
@media print, screen and (max-width: 340px) {
  /* line 400, ../sass/styles.scss */
  .nolink td i {
    display: none;
  }
}
/* folder header style start */
/* line 3, ../sass/header.scss */
.header {
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}
/* line 4, ../sass/func.scss */
.header__content {
  text-align: center;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
/* line 4, ../sass/func.scss */
.header .content__title {
  display: inline;
}
/* line 4, ../sass/func.scss */
.header .content__btn {
  font-size: 90%;
}

@media print, screen and (max-width: 720px) {
  /* line 30, ../sass/header.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 35, ../sass/header.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 44, ../sass/header.scss */
  .header .content__title {
    font-size: 2em !important;
  }
  /* line 47, ../sass/header.scss */
  .header .content__btn .content__btn-a {
    font-size: 1em !important;
  }
}
/* folder footer style start */
/* line 3, ../sass/footer.scss */
.footer {
  padding: 0;
}
/* line 7, ../sass/footer.scss */
.footer .footer__backToTop-btn {
  position: fixed;
  padding: 0;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 50px;
  height: 50px;
  background: #ddd;
  color: rgba(39, 174, 96, 0.6);
  text-align: center;
  border-radius: 2px;
  z-index: 1;
}
/* line 11, ../sass/func.scss */
.footer .footer__backToTop-btn--icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 10px;
  left: 10px;
  color: #fff;
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  text-rendering: auto;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 41, ../sass/footer.scss */
.footer__github-btn {
  position: fixed;
  right: -60px;
  bottom: 50px;
  z-index: 10;
  line-height: 30px;
  text-align: center;
  width: 250px;
  font-size: 16px;
  text-decoration: none;
  color: #f5f5f5 !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
  border: 1px solid #000;
  background-color: #363644;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
  background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
  background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
  background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
  background-image: -o-radial-gradient(circle, #4c5b63, #363644);
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  margin: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 101;
}
/* line 86, ../sass/footer.scss */
.footer__github-btn:hover {
  text-decoration: none;
  background-color: #4d4d60;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
  background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
  background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
  background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
  background-image: -o-radial-gradient(circle, #627680, #4d4d60);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
}
/* line 4, ../sass/func.scss */
.footer .content__section {
  display: inline;
}
/* line 109, ../sass/footer.scss */
.footer .content__a-btn {
  display: block;
}
/* line 11, ../sass/func.scss */
.footer .content__p--word {
  padding: 0;
  margin: 0.5em 0;
  font-weight: bold;
  break-inside: avoid-column;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 11, ../sass/func.scss */
.footer .content__text-p--desc {
  font-size: 0.875em;
  text-align: left;
  margin: 0 0 2em;
  color: rgba(0, 0, 0, 0.35);
}
/* line 130, ../sass/footer.scss */
.footer .content__text-p--desc em {
  font-style: italic;
  font-weight: 400;
}
/* line 11, ../sass/func.scss */
.footer .content__text-p--desc .text__span--link {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: 0 0;
}
/* line 144, ../sass/footer.scss */
.footer .content__text-p--desc .text__span--link a:link {
  -webkit-tap-highlight-color: rgba(229, 59, 44, 0.4);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
/* line 149, ../sass/footer.scss */
.footer .content__text-p--desc .text__span--link a:link,
.footer .content__text-p--desc .text__span--link a:visited {
  border-bottom: 0.08em solid rgba(0, 0, 0, 0.1);
}

/* folder footer style end */
@media print, screen and (max-width: 480px) {
  /* line 163, ../sass/footer.scss */
  .footer {
    padding: 20px;
    box-sizing: border-box;
  }
}
/* folder container style start */
/* line 3, ../sass/container.scss */
div.container {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.3;
  font-size: 1em;
  /* folder markdown-toc style start */
  /* folder markdown-toc style end */
  /* footnote style start */
}
/* line 4, ../sass/func.scss */
div.container .content__section {
  float: left;
  margin: 0 30px 20px 0;
}
/* line 11, ../sass/func.scss */
div.container .content__section .content-box__markdown--toc {
  display: table;
  zoom: 1;
  padding: 7px 10px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  font-size: 95%;
  direction: ltr;
  line-height: 1.6;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 23, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc > ol {
  margin: 0.3em 0 !important;
}
/* line 26, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol {
  margin: 0 0 0 1em;
  padding: 0;
  counter-reset: out;
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}
/* line 33, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li {
  color: #ba832c;
}
/* line 35, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li:before {
  margin-right: 5px;
  counter-increment: out;
  content: counters(out,".") " ";
}
/* line 40, ../sass/markdownToc.scss */
div.container .content__section .content-box__markdown--toc ol li a {
  text-decoration: none;
  background: none;
  font-weight: 100;
}
/* line 2, ../sass/reference.scss */
div.container sup.reference {
  font-weight: normal;
  font-style: normal;
  unicode-bidi: -moz-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  white-space: nowrap;
  direction: ltr;
}
/* line 11, ../sass/reference.scss */
div.container sup.reference a {
  white-space: nowrap;
  text-decoration: none;
  color: #0b0080;
  background: none;
  font-size: 10px;
  padding: 0 3px;
}
/* line 19, ../sass/reference.scss */
div.container sub,
div.container sup {
  line-height: 1;
}
/* line 23, ../sass/reference.scss */
div.container .footnote-box {
  box-sizing: border-box;
  border: 1px solid #aaa;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: left;
  padding: 3px;
  margin: 0 auto;
  background: #fdfdfd;
  display: inline-block;
}
/* line 34, ../sass/reference.scss */
div.container .footnote-box ul {
  display: inline-block;
  list-style-type: decimal;
  list-style-image: none;
  padding: 0;
  margin: 0.3em 2em;
  text-align: left;
  color: #252525;
  counter-reset: xxx 0;
  line-height: 0.3;
}
/* line 44, ../sass/reference.scss */
div.container .footnote-box ul li {
  list-style: decimal;
  transition: none;
  padding: 0;
  margin: 0 0 0.1em;
  position: initial;
  color: #252525;
  line-height: 1.6;
  font-size: 0.875em;
}
/* line 53, ../sass/reference.scss */
div.container .footnote-box ul li::before {
  content: none;
}
/* line 58, ../sass/reference.scss */
div.container .footnote-box .backlink {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 5px;
}
/* line 64, ../sass/reference.scss */
div.container .footnote-box .backlink b a {
  background-image: none;
  padding: 0;
  text-decoration: none;
  color: #0645ad;
}
/* line 69, ../sass/reference.scss */
div.container .footnote-box .backlink b a:visited {
  font-weight: bold;
  color: #0b0080;
}
/* line 75, ../sass/reference.scss */
div.container .footnote-box .reference-text {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 82, ../sass/reference.scss */
div.container .footnote-box a {
  text-decoration: none;
  color: #0645ad;
}
/* line 12, ../sass/container.scss */
div.container .tableTree {
  border: 0;
  font-size: 80%;
  line-height: 75%;
}
/* line 16, ../sass/container.scss */
div.container .tableTree table, div.container .tableTree tbody {
  border: 0;
  margin: 0;
}
/* line 20, ../sass/container.scss */
div.container .tableTree .treeTd {
  width: 1.5em;
  border-bottom: 1px solid black;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0 0.2em;
  vertical-align: bottom;
  text-align: center;
}
/* line 31, ../sass/container.scss */
div.container .tableTree .treeTd2 {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  vertical-align: top;
}
/* line 39, ../sass/container.scss */
div.container .tableTree .treeTd3 {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  padding: 0 0.2em;
  vertical-align: bottom;
  text-align: center;
}
/* line 48, ../sass/container.scss */
div.container .tableTree .treeTdNoBorder {
  border: 0;
  padding: 0;
}
/* line 51, ../sass/container.scss */
div.container .tableTree .treeTdFooter {
  border: 0;
  padding: 0;
  vertical-align: top;
}
/* line 54, ../sass/container.scss */
div.container .tableTree .treeTdContentText {
  padding-left: 5px;
}
/* line 58, ../sass/container.scss */
div.container .svgNodePhoto {
  margin: 0;
}
/* line 61, ../sass/container.scss */
div.container .has-numbering {
  margin-left: 21px;
  display: inline-block;
}
/* line 65, ../sass/container.scss */
div.container .pre-numbering {
  position: absolute;
  top: 0;
  left: -23px;
  width: 20px;
  padding: 12px 2px 10px 0;
  border-right: 1px solid #C3CCD0;
  border-radius: 3px 0 0 3px;
  background-color: #EEE;
  text-align: right;
  font-family: Menlo, monospace;
  font-size: 0.8em;
  color: #AAA;
  margin: 0 0 0 20px;
  margin-bottom: 0px;
  line-height: 1.1;
}
/* line 81, ../sass/container.scss */
div.container .pre-numbering > li {
  margin: 0 !important;
  font-size: 10pt;
}
/* line 86, ../sass/container.scss */
div.container > h1 {
  margin: 0 0 .5em;
  padding: 0;
  direction: ltr;
  border-bottom: 1px solid #aaa;
  background: none;
  font-size: 3em;
  overflow: visible;
  line-height: 1.3;
  padding: 0;
  direction: ltr;
  word-wrap: break-word;
}
/* line 99, ../sass/container.scss */
div.container > p > strong > em {
  font-size: 14px;
  font-weight: 100;
  zoom: 1;
  vertical-align: middle;
  text-overflow: ellipsis;
  line-height: 20px;
}
/* line 107, ../sass/container.scss */
div.container ol,
div.container ul {
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.5);
}
/* line 113, ../sass/container.scss */
div.container ul {
  padding: 0;
}
/* line 115, ../sass/container.scss */
div.container ul > li {
  margin: 0 0 0.5em 10px;
  color: #333;
}
/* line 121, ../sass/container.scss */
div.container ol li {
  color: #363644;
  padding: 1px 5px;
}
/* line 126, ../sass/container.scss */
div.container pre {
  background: #384047;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  color: #fff;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  /*-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);*/
}
/* line 137, ../sass/container.scss */
div.container pre.pre-no-border {
  border: 1px solid #333;
  width: inherit;
  background: #FFEB3B;
  color: #E91E63;
}
/* line 144, ../sass/container.scss */
div.container .hljs-keyword, div.container .hljs-attribute, div.container .hljs-selector-tag, div.container .hljs-meta-keyword, div.container .hljs-doctag, div.container .hljs-name {
  color: #00BCD4;
}
/* line 147, ../sass/container.scss */
div.container .hljs-type, div.container .hljs-string, div.container .hljs-number, div.container .hljs-selector-id, div.container .hljs-selector-class, div.container .hljs-quote, div.container .hljs-template-tag, div.container .hljs-deletion {
  color: #FFEB3B;
}
/* line 150, ../sass/container.scss */
div.container .hljs-title, div.container .hljs-section {
  color: #FF5722;
}
/* line 153, ../sass/container.scss */
div.container .hljs-built_in, div.container .hljs-bullet, div.container .hljs-code, div.container .hljs-addition {
  color: #4CAF50;
}
/* line 156, ../sass/container.scss */
div.container .hljs-regexp, div.container .hljs-symbol, div.container .hljs-variable, div.container .hljs-template-variable, div.container .hljs-link, div.container .hljs-selector-attr, div.container .hljs-selector-pseudo {
  color: #E91E63;
}
/* line 159, ../sass/container.scss */
div.container dl,
div.container ol,
div.container p,
div.container pre,
div.container table,
div.container ul {
  margin-bottom: 1em;
}
/* line 167, ../sass/container.scss */
div.container table {
  color: #f6e6cc;
}
/* line 170, ../sass/container.scss */
div.container table {
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #3B5F9B;
  border-top: 1px solid #3B5F9B;
}
/* line 176, ../sass/container.scss */
div.container td,
div.container th {
  max-width: 700px;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  padding: 3px 5px;
}
/* line 185, ../sass/container.scss */
div.container th {
  background: #3B5F9B;
  color: #fff;
}
/* line 189, ../sass/container.scss */
div.container tbody,
div.container thead {
  border: 3px solid #3B5F9B;
}
/* line 193, ../sass/container.scss */
div.container td {
  background: #fff;
  color: #777;
}
/* line 197, ../sass/container.scss */
div.container img {
  display: inline-block;
  /*border: 5px solid rgba(246, 247, 248, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);*/
  width: auto;
  max-width: 100%;
}
/* line 206, ../sass/container.scss */
div.container iframe {
  width: 100%;
  min-height: 150px;
  max-height: 600px;
  /*border: 3px dotted #627680;*/
  overflow: hidden;
}
/* line 213, ../sass/container.scss */
div.container a {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("../bgimg/external-link-ltr-icon.png");
  background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
  padding-right: 13px;
}
/* line 220, ../sass/container.scss */
div.container blockquote ul {
  margin: 0 0 0 20px;
}
/* line 222, ../sass/container.scss */
div.container blockquote ul li {
  list-style: inherit;
  transition: none;
  padding: 0;
  margin: 0 0 0.1em;
  position: initial;
  color: #ba832c;
}
/* line 229, ../sass/container.scss */
div.container blockquote ul li::before {
  content: none;
}
/* line 232, ../sass/container.scss */
div.container blockquote ul li ul {
  margin-left: 20px;
}

@media print, screen and (max-width: 720px) {
  /* line 239, ../sass/container.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 244, ../sass/container.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 251, ../sass/container.scss */
  table {
    overflow-x: overlay;
    max-width: 340px;
    display: inline-block;
  }
  /* line 255, ../sass/container.scss */
  table td,
  table th {
    min-width: 100px;
  }

  /* line 260, ../sass/container.scss */
  .content-box__markdown--toc {
    margin: 15px 0 20px 10px !important;
  }

  /* line 264, ../sass/container.scss */
  p a {
    text-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
  /* line 269, ../sass/container.scss */
  p code {
    word-wrap: break-word;
    word-break: break-all;
  }

  /* line 274, ../sass/container.scss */
  pre {
    max-width: 100% !important;
    padding: 10px 0 !important;
  }

  /* line 278, ../sass/container.scss */
  .container {
    margin: 0 !important;
  }
}
/* folder container style end */

/*# sourceMappingURL=index.css.map */
