@charset "UTF-8";
/* folder header style start */
.header {
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px; }
  .header__content {
    text-align: center;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3; }
  .header .content__title {
    display: inline; }
  .header .content__btn {
    font-size: 90%; }

/* folder header style end */
/* folder footer style start */
.footer {
  padding: 0; }
  .footer .footer__backToTop-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 50px;
    height: 50px;
    background: #ddd;
    color: rgba(39, 174, 96, 0.6);
    text-align: center;
    border-radius: 2px;
    z-index: 1; }
    .footer .footer__backToTop-btn--icon {
      width: 30px;
      height: 30px;
      line-height: 30px;
      top: 10px;
      left: 10px;
      color: #fff;
      position: absolute;
      font-size: 24px;
      cursor: pointer;
      text-rendering: auto;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .footer__github-btn {
    position: fixed;
    right: -60px;
    bottom: 50px;
    z-index: 10;
    line-height: 30px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    text-decoration: none;
    color: #f5f5f5 !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    border-collapse: separate;
    border: 1px solid #000;
    background-color: #363644;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
    background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
    background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
    background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
    background-image: -o-radial-gradient(circle, #4c5b63, #363644);
    background-repeat: no-repeat;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    margin: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .footer__github-btn:hover {
      text-decoration: none;
      background-color: #4d4d60;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
      background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
      background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
      background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
      background-image: -o-radial-gradient(circle, #627680, #4d4d60);
      background-repeat: no-repeat;
      -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      border-collapse: separate; }
  .footer .content__section {
    display: inline; }
  .footer .content__a-btn {
    display: block; }
  .footer .content__p--word {
    padding: 0;
    margin: 0.5em 0;
    font-weight: bold;
    break-inside: avoid-column;
    word-break: break-all;
    word-wrap: break-word; }
  .footer .content__text-p--desc {
    font-size: 0.875em;
    text-align: left;
    margin: 0 0 2em;
    color: rgba(0, 0, 0, 0.35); }
    .footer .content__text-p--desc em {
      font-style: italic;
      font-weight: 400; }
    .footer .content__text-p--desc .text__span--link {
      font-size: 100%;
      vertical-align: baseline;
      margin: 0;
      padding: 0;
      outline: 0;
      border: 0;
      background: 0 0; }
      .footer .content__text-p--desc .text__span--link a:link {
        -webkit-tap-highlight-color: rgba(229, 59, 44, 0.4);
        -ms-touch-action: manipulation;
        touch-action: manipulation; }
      .footer .content__text-p--desc .text__span--link a:link,
      .footer .content__text-p--desc .text__span--link a:visited {
        border-bottom: 0.08em solid rgba(0, 0, 0, 0.1); }

/* folder footer style end */
/* folder container style start */
div.container {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.3;
  font-size: 1em;
  /* folder markdown-toc style start */
  /* folder markdown-toc style end */
  /* footnote style start */ }
  div.container .content__section .content-box__markdown--toc {
    margin: 15px 0 20px 50px;
    display: table;
    zoom: 1;
    padding: 7px 30px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    font-size: 95%;
    direction: ltr;
    line-height: 1.6;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden; }
    div.container .content__section .content-box__markdown--toc ul {
      list-style-type: decimal;
      list-style-image: none;
      padding: 0;
      margin: 0.3em 0;
      text-align: left;
      color: #ba832c;
      counter-reset: xxx 0; }
      div.container .content__section .content-box__markdown--toc ul li {
        list-style: decimal;
        transition: none;
        padding: 0;
        margin: 0 0 0.1em;
        position: initial;
        color: #ba832c; }
        div.container .content__section .content-box__markdown--toc ul li::before {
          content: none; }
        div.container .content__section .content-box__markdown--toc ul li a {
          text-decoration: none;
          background: none;
          font-weight: 100; }
        div.container .content__section .content-box__markdown--toc ul li ul {
          margin-left: 30px; }
          div.container .content__section .content-box__markdown--toc ul li ul li ul {
            margin-left: 40px; }
            div.container .content__section .content-box__markdown--toc ul li ul li ul li a {
              font-size: 12px; }
  div.container sup.reference {
    font-weight: normal;
    font-style: normal;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    white-space: nowrap;
    direction: ltr; }
  div.container sup.reference a {
    white-space: nowrap;
    text-decoration: none;
    color: #0b0080;
    background: none;
    font-size: 10px;
    padding: 0 3px; }
  div.container sub,
  div.container sup {
    line-height: 1; }
  div.container .footnote-box {
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 100%;
    clear: both;
    font-size: 88%;
    text-align: left;
    padding: 3px;
    margin: 0 auto;
    background: #fdfdfd;
    display: inline-block; }
    div.container .footnote-box ul {
      display: inline-block;
      list-style-type: decimal;
      list-style-image: none;
      padding: 0;
      margin: 0.3em 2em;
      text-align: left;
      color: #252525;
      counter-reset: xxx 0;
      line-height: 0.3; }
      div.container .footnote-box ul li {
        list-style: decimal;
        transition: none;
        padding: 0;
        margin: 0 0 0.1em;
        position: initial;
        color: #252525;
        line-height: 1.6;
        font-size: 0.875em; }
        div.container .footnote-box ul li::before {
          content: none; }
    div.container .footnote-box .backlink {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-right: 5px; }
      div.container .footnote-box .backlink b a {
        background-image: none;
        padding: 0;
        text-decoration: none;
        color: #0645ad; }
        div.container .footnote-box .backlink b a:visited {
          font-weight: bold;
          color: #0b0080; }
    div.container .footnote-box .reference-text {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
      word-break: break-all;
      word-wrap: break-word; }
    div.container .footnote-box a {
      text-decoration: none;
      color: #0645ad; }
  div.container h1 {
    margin: 0 0 0.1em;
    background: none;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    direction: ltr;
    border-bottom: 1px solid #aaa;
    margin: 0 0 0.1em;
    background: none;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    direction: ltr;
    border-bottom: 1px solid #aaa; }
  div.container ol,
  div.container ul {
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.5); }
  div.container ul {
    padding: 0; }
    div.container ul > li {
      list-style: none;
      position: relative;
      padding: 0 0 0 2em;
      margin: 0 0 0.5em 10px;
      -webkit-transition: 0.12s;
      transition: 0.12s;
      color: #333; }
      div.container ul > li::before {
        position: absolute;
        display: inline-block;
        background: #009688;
        text-align: center;
        font-size: 2em;
        opacity: 0.8;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 3px;
        line-height: 0;
        top: 6px;
        left: 5px; }
      div.container ul > li:hover::before {
        opacity: 1;
        text-shadow: 0 0 4px;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        border-radius: 5px;
        width: 25px;
        left: -10px;
        background: #558abb; }
  div.container pre {
    background: #f5f5f5;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #333;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto; }
  div.container dl,
  div.container ol,
  div.container p,
  div.container pre,
  div.container table,
  div.container ul {
    margin-bottom: 1em; }
  div.container table {
    color: #f6e6cc; }
  div.container table {
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc; }
  div.container td,
  div.container th {
    max-width: 700px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px 5px; }
  div.container th {
    background: #87968e;
    color: #fff; }
  div.container td {
    background: #fff2e3;
    color: #777; }
  div.container img {
    width: auto;
    max-width: 100%; }
  div.container a {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("../bgimg/external-link-ltr-icon.png");
    background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
    padding-right: 13px; }
  div.container blockquote ul {
    margin: 0 0 0 20px; }
    div.container blockquote ul li {
      list-style: inherit;
      transition: none;
      padding: 0;
      margin: 0 0 0.1em;
      position: initial;
      color: #ba832c; }
      div.container blockquote ul li::before {
        content: none; }
      div.container blockquote ul li ul {
        margin-left: 20px; }

/* folder container style end */
/* highlight style start */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0; }

/* Base color: saturation 0; */
.hljs, .hljs-subst {
  color: #444; }

.hljs-comment {
  color: #888888; }

.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
  font-weight: bold; }

/* User color: hue: 0 */
.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #880000; }

.hljs-title, .hljs-section {
  color: #880000;
  font-weight: bold; }

.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo {
  color: #BC6060; }

/* Language color: hue: 90; */
.hljs-literal {
  color: #78A960; }

.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
  color: #397300; }

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199; }

.hljs-meta-string {
  color: #4d99bf; }

/* Misc effects */
.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.w-900 {
  width: 900px;
  margin: 0 auto; }

.body__mood {
  background: #fffbd6; }
  .body__mood .header {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px; }
    .body__mood .header .content__title {
      font-size: 320%;
      font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; }
  .body__mood .container {
    padding: 50px;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .body__mood .container:after, .body__mood .container:before {
      content: '';
      position: absolute;
      z-index: -2;
      bottom: 15px;
      left: 10px;
      width: 50%;
      height: 20%;
      box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    .body__mood .container:after {
      right: 10px;
      left: auto;
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); }
    .body__mood .container h1 {
      font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
      text-align: center; }
    .body__mood .container pre {
      padding: 20px;
      position: relative;
      box-sizing: content-box;
      display: block;
      line-height: 1.42857143;
      word-break: break-all;
      word-wrap: break-word;
      border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      overflow-x: hidden;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      white-space: pre;
      box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
      color: #87968e;
      background: #fff2e3;
      text-align: center;
      width: 700px;
      margin: 50px auto;
      z-index: 100;
      -webkit-perspective: 700px;
      perspective: 700px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border: none; }
.body__note {
  background: #fff; }

#ds-thread.ds-thread #ds-reset .ds-comments-info .ds-comments-tabs li.ds-tab .ds-comments-tab-weibo {
  display: none; }
#ds-thread.ds-thread #ds-reset .ds-comments-info .ds-comments-tabs li.ds-tab .ds-comments-tab-duoshuo {
  border: none;
  background-color: transparent; }
#ds-thread.ds-thread #ds-reset .ds-powered-by {
  display: none; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(230, 230, 230, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4); }

/*
   Copyright 2014 GitHub Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

*/
.pl-c {
  color: #969896; }

.pl-c1,
.pl-s .pl-v {
  color: #0086b3; }

.pl-e,
.pl-en {
  color: #795da3; }

.pl-s .pl-s1,
.pl-smi {
  color: #333; }

.pl-ent {
  color: #63a35c; }

.pl-k {
  color: #a71d5d; }

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
  color: #183691; }

.pl-v {
  color: #ed6a43; }

.pl-id {
  color: #b52a1d; }

.pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8; }

.pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold; }

.pl-ml {
  color: #693a17; }

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  color: #1d3e81;
  font-weight: bold; }

.pl-mq {
  color: #008080; }

.pl-mi {
  color: #333;
  font-style: italic; }

.pl-mb {
  color: #333;
  font-weight: bold; }

.pl-md {
  background-color: #ffecec;
  color: #bd2c00; }

.pl-mi1 {
  background-color: #eaffea;
  color: #55a532; }

.pl-mdr {
  color: #795da3;
  font-weight: bold; }

.pl-mo {
  color: #1d3e81; }

/* markdown style start*/
html {
  font-size: 62.5%; }

body,
html {
  height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 150%;
  color: #363644;
  width: 100%;
  background: #fff;
  margin: 0; }

dl,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1em; }

ul {
  margin-left: 20px; }

table td a {
  color: #009688; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #ba832c;
  font-weight: bold; }
  a:focus {
    outline: 1px dotted; }
  a:focus, a:hover {
    color: #d3a459;
    text-decoration: none; }

a *,
button * {
  cursor: pointer; }

hr {
  display: none; }

small {
  font-size: 90%; }

button,
input,
option,
select,
textarea {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  font-size: 100%; }

button,
input[type=submit],
label,
option,
select {
  cursor: pointer; }

sup {
  font-size: 80%;
  line-height: 1;
  vertical-align: super; }

button::-moz-focus-inner {
  border: 0;
  padding: 1px; }

span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  line-height: 0.8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; }

h2 {
  font-size: 22pt; }

h3 {
  font-size: 20pt; }

h4 {
  font-size: 18pt; }

h5 {
  font-size: 16pt; }

h6 {
  font-size: 14pt; }

::selection {
  background: #00BCD4;
  color: #fff; }

::-moz-selection {
  background: #00BCD4;
  color: #fff; }

h1 {
  font-size: 420%;
  margin: 0 0 0.1em;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; }
  h1 a,
  h1 a:hover {
    color: #d7af72;
    font-weight: normal; }

pre {
  position: relative;
  padding: 8px 10px;
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-left: 5px solid #558abb;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  overflow-x: hidden; }
  pre code {
    font-size: 10pt;
    background: transparent; }

code {
  background: #e6e6e6;
  overflow-y: auto; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -.4em; }
  blockquote p {
    display: inline; }

/* markdown style end*/
body {
  padding: 50px;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 300; }

.intro {
  font-size: 1.1rem;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300; }

.intro a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #607d8b;
  -webkit-transition: border .25s linear;
  transition: border .25s linear; }

.intro a, .intro a:active, .intro a:focus, .intro a:hover, .intro a:link, .intro a:visited {
  -webkit-transition: background-color .25s linear,border-color .25s linear,box-shadow .25s linear,color .25s linear,opacity .25s linear;
  transition: background-color .25s linear,border-color .25s linear,box-shadow .25s linear,color .25s linear,opacity .25s linear; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px; }

p, ul, ol, table, pre, dl {
  margin: 0 0 20px; }

h1, h2, h3 {
  line-height: 1.1; }

h1 {
  font-size: 28px;
  font-family: 'Libre Baskerville',serif;
  font-weight: 400;
  color: #11181b;
  line-height: 1.3; }

.thistitle {
  font-family: 'Libre Baskerville',serif;
  font-weight: 400;
  color: #11181b;
  line-height: 1.3; }

h2 {
  color: #393939; }

h3, h4, h5, h6 {
  color: #494949; }

a {
  color: #39c;
  font-weight: 400;
  text-decoration: none; }

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block; }

.wrapper {
  width: 860px;
  margin: 0 auto; }

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic; }

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px; }

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }

dt {
  color: #444;
  font-weight: 700; }

th {
  color: #444; }

img {
  max-width: 100%; }

header {
  width: 270px;
  float: left;
  position: fixed; }

header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
  width: 270px; }

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 40px; }

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 40px; }

strong {
  color: #222;
  font-weight: 700; }

header ul li + li {
  width: 88px;
  border-left: 1px solid #fff; }

header ul li + li + li {
  border-right: none;
  width: 89px; }

header ul a strong {
  font-size: 14px;
  display: block;
  color: #222; }

section {
  width: 500px;
  float: right;
  padding-bottom: 50px; }

small {
  font-size: 11px; }

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px; }

.hr-link {
  background-color: #bbb;
  background-image: -webkit-linear-gradient(0deg, #fff, #bbb, #fff); }

td.no-border {
  border: none; }

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px; }

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0; }

  header, section, footer {
    float: none;
    position: static;
    width: auto; }

  header {
    padding-right: 320px; }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px; }

  header a small {
    display: inline; }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px; } }
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word; }

  header {
    padding: 0; }

  header ul, header p.view {
    position: static; }

  pre, code {
    word-wrap: normal; } }
@media print, screen and (max-width: 480px) {
  body {
    padding: 15px; }

  header ul {
    display: none; } }
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444; } }
.mr10px {
  margin-right: 10px; }

.forkme {
  position: fixed;
  right: -60px;
  bottom: 50px;
  z-index: 10;
  line-height: 30px;
  text-align: center;
  width: 250px;
  font-size: 16px;
  text-decoration: none;
  color: #f5f5f5 !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
  border: 1px solid #000;
  background-color: #363644;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
  background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
  background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
  background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
  background-image: -o-radial-gradient(circle, #4c5b63, #363644);
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  margin: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.forkme:hover {
  text-decoration: none;
  background-color: #4d4d60;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
  background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
  background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
  background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
  background-image: -o-radial-gradient(circle, #627680, #4d4d60);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate; }

.w-900 {
  width: 900px;
  margin: 0 auto; }

/* folder header style start */
.header {
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px; }
  .header__content {
    text-align: center;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3; }
  .header .content__title {
    display: inline; }
  .header .content__btn {
    font-size: 90%; }

/* folder header style end */
/* folder footer style start */
.footer {
  padding: 0; }
  .footer .footer__backToTop-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 50px;
    height: 50px;
    background: #ddd;
    color: rgba(39, 174, 96, 0.6);
    text-align: center;
    border-radius: 2px;
    z-index: 1; }
    .footer .footer__backToTop-btn--icon {
      width: 30px;
      height: 30px;
      line-height: 30px;
      top: 10px;
      left: 10px;
      color: #fff;
      position: absolute;
      font-size: 24px;
      cursor: pointer;
      text-rendering: auto;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .footer__github-btn {
    position: fixed;
    right: -60px;
    bottom: 50px;
    z-index: 10;
    line-height: 30px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    text-decoration: none;
    color: #f5f5f5 !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    border-collapse: separate;
    border: 1px solid #000;
    background-color: #363644;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
    background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
    background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
    background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
    background-image: -o-radial-gradient(circle, #4c5b63, #363644);
    background-repeat: no-repeat;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    margin: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .footer__github-btn:hover {
      text-decoration: none;
      background-color: #4d4d60;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
      background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
      background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
      background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
      background-image: -o-radial-gradient(circle, #627680, #4d4d60);
      background-repeat: no-repeat;
      -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
      border-collapse: separate; }
  .footer .content__section {
    display: inline; }
  .footer .content__a-btn {
    display: block; }
  .footer .content__p--word {
    padding: 0;
    margin: 0.5em 0;
    font-weight: bold;
    break-inside: avoid-column;
    word-break: break-all;
    word-wrap: break-word; }
  .footer .content__text-p--desc {
    font-size: 0.875em;
    text-align: left;
    margin: 0 0 2em;
    color: rgba(0, 0, 0, 0.35); }
    .footer .content__text-p--desc em {
      font-style: italic;
      font-weight: 400; }
    .footer .content__text-p--desc .text__span--link {
      font-size: 100%;
      vertical-align: baseline;
      margin: 0;
      padding: 0;
      outline: 0;
      border: 0;
      background: 0 0; }
      .footer .content__text-p--desc .text__span--link a:link {
        -webkit-tap-highlight-color: rgba(229, 59, 44, 0.4);
        -ms-touch-action: manipulation;
        touch-action: manipulation; }
      .footer .content__text-p--desc .text__span--link a:link,
      .footer .content__text-p--desc .text__span--link a:visited {
        border-bottom: 0.08em solid rgba(0, 0, 0, 0.1); }

/* folder footer style end */
/* folder container style start */
div.container {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.3;
  font-size: 1em;
  /* folder markdown-toc style start */
  /* folder markdown-toc style end */
  /* footnote style start */ }
  div.container .content__section .content-box__markdown--toc {
    margin: 15px 0 20px 50px;
    display: table;
    zoom: 1;
    padding: 7px 30px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    font-size: 95%;
    direction: ltr;
    line-height: 1.6;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden; }
    div.container .content__section .content-box__markdown--toc ul {
      list-style-type: decimal;
      list-style-image: none;
      padding: 0;
      margin: 0.3em 0;
      text-align: left;
      color: #ba832c;
      counter-reset: xxx 0; }
      div.container .content__section .content-box__markdown--toc ul li {
        list-style: decimal;
        transition: none;
        padding: 0;
        margin: 0 0 0.1em;
        position: initial;
        color: #ba832c; }
        div.container .content__section .content-box__markdown--toc ul li::before {
          content: none; }
        div.container .content__section .content-box__markdown--toc ul li a {
          text-decoration: none;
          background: none;
          font-weight: 100; }
        div.container .content__section .content-box__markdown--toc ul li ul {
          margin-left: 30px; }
          div.container .content__section .content-box__markdown--toc ul li ul li ul {
            margin-left: 40px; }
            div.container .content__section .content-box__markdown--toc ul li ul li ul li a {
              font-size: 12px; }
  div.container sup.reference {
    font-weight: normal;
    font-style: normal;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    white-space: nowrap;
    direction: ltr; }
  div.container sup.reference a {
    white-space: nowrap;
    text-decoration: none;
    color: #0b0080;
    background: none;
    font-size: 10px;
    padding: 0 3px; }
  div.container sub,
  div.container sup {
    line-height: 1; }
  div.container .footnote-box {
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 100%;
    clear: both;
    font-size: 88%;
    text-align: left;
    padding: 3px;
    margin: 0 auto;
    background: #fdfdfd;
    display: inline-block; }
    div.container .footnote-box ul {
      display: inline-block;
      list-style-type: decimal;
      list-style-image: none;
      padding: 0;
      margin: 0.3em 2em;
      text-align: left;
      color: #252525;
      counter-reset: xxx 0;
      line-height: 0.3; }
      div.container .footnote-box ul li {
        list-style: decimal;
        transition: none;
        padding: 0;
        margin: 0 0 0.1em;
        position: initial;
        color: #252525;
        line-height: 1.6;
        font-size: 0.875em; }
        div.container .footnote-box ul li::before {
          content: none; }
    div.container .footnote-box .backlink {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-right: 5px; }
      div.container .footnote-box .backlink b a {
        background-image: none;
        padding: 0;
        text-decoration: none;
        color: #0645ad; }
        div.container .footnote-box .backlink b a:visited {
          font-weight: bold;
          color: #0b0080; }
    div.container .footnote-box .reference-text {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
      word-break: break-all;
      word-wrap: break-word; }
    div.container .footnote-box a {
      text-decoration: none;
      color: #0645ad; }
  div.container h1 {
    margin: 0 0 0.1em;
    background: none;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    direction: ltr;
    border-bottom: 1px solid #aaa;
    margin: 0 0 0.1em;
    background: none;
    font-size: 3em;
    overflow: visible;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    direction: ltr;
    border-bottom: 1px solid #aaa; }
  div.container ol,
  div.container ul {
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.5); }
  div.container ul {
    padding: 0; }
    div.container ul > li {
      list-style: none;
      position: relative;
      padding: 0 0 0 2em;
      margin: 0 0 0.5em 10px;
      -webkit-transition: 0.12s;
      transition: 0.12s;
      color: #333; }
      div.container ul > li::before {
        position: absolute;
        display: inline-block;
        background: #009688;
        text-align: center;
        font-size: 2em;
        opacity: 0.8;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 3px;
        line-height: 0;
        top: 6px;
        left: 5px; }
      div.container ul > li:hover::before {
        opacity: 1;
        text-shadow: 0 0 4px;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        border-radius: 5px;
        width: 25px;
        left: -10px;
        background: #558abb; }
  div.container pre {
    background: #f5f5f5;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #333;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto; }
  div.container dl,
  div.container ol,
  div.container p,
  div.container pre,
  div.container table,
  div.container ul {
    margin-bottom: 1em; }
  div.container table {
    color: #f6e6cc; }
  div.container table {
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc; }
  div.container td,
  div.container th {
    max-width: 700px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px 5px; }
  div.container th {
    background: #87968e;
    color: #fff; }
  div.container td {
    background: #fff2e3;
    color: #777; }
  div.container img {
    width: auto;
    max-width: 100%; }
  div.container a {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("../bgimg/external-link-ltr-icon.png");
    background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
    padding-right: 13px; }
  div.container blockquote ul {
    margin: 0 0 0 20px; }
    div.container blockquote ul li {
      list-style: inherit;
      transition: none;
      padding: 0;
      margin: 0 0 0.1em;
      position: initial;
      color: #ba832c; }
      div.container blockquote ul li::before {
        content: none; }
      div.container blockquote ul li ul {
        margin-left: 20px; }

/* folder container style end */

/*# sourceMappingURL=index.css.map */
