/* folder header style start */
/* line 3, ../sass/header.scss */
.header {
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}
/* line 4, ../sass/func.scss */
.header__content {
  text-align: center;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
/* line 4, ../sass/func.scss */
.header .content__title {
  display: inline;
}
/* line 4, ../sass/func.scss */
.header .content__btn {
  font-size: 90%;
}

@media print, screen and (max-width: 720px) {
  /* line 30, ../sass/header.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 35, ../sass/header.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 44, ../sass/header.scss */
  .header .content__title {
    font-size: 2em !important;
  }
  /* line 47, ../sass/header.scss */
  .header .content__btn .content__btn-a {
    font-size: 1em !important;
  }
}
/* folder footer style start */
/* line 3, ../sass/footer.scss */
.footer {
  padding: 0;
}
/* line 7, ../sass/footer.scss */
.footer .footer__backToTop-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 50px;
  height: 50px;
  background: #ddd;
  color: rgba(39, 174, 96, 0.6);
  text-align: center;
  border-radius: 2px;
  z-index: 1;
}
/* line 11, ../sass/func.scss */
.footer .footer__backToTop-btn--icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 10px;
  left: 10px;
  color: #fff;
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  text-rendering: auto;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 40, ../sass/footer.scss */
.footer__github-btn {
  position: fixed;
  right: -60px;
  bottom: 50px;
  z-index: 10;
  line-height: 30px;
  text-align: center;
  width: 250px;
  font-size: 16px;
  text-decoration: none;
  color: #f5f5f5 !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
  border: 1px solid #000;
  background-color: #363644;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
  background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
  background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
  background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
  background-image: -o-radial-gradient(circle, #4c5b63, #363644);
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  margin: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 101;
}
/* line 85, ../sass/footer.scss */
.footer__github-btn:hover {
  text-decoration: none;
  background-color: #4d4d60;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
  background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
  background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
  background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
  background-image: -o-radial-gradient(circle, #627680, #4d4d60);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
  border-collapse: separate;
}
/* line 4, ../sass/func.scss */
.footer .content__section {
  display: inline;
}
/* line 108, ../sass/footer.scss */
.footer .content__a-btn {
  display: block;
}
/* line 11, ../sass/func.scss */
.footer .content__p--word {
  padding: 0;
  margin: 0.5em 0;
  font-weight: bold;
  break-inside: avoid-column;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 11, ../sass/func.scss */
.footer .content__text-p--desc {
  font-size: 0.875em;
  text-align: left;
  margin: 0 0 2em;
  color: rgba(0, 0, 0, 0.35);
}
/* line 129, ../sass/footer.scss */
.footer .content__text-p--desc em {
  font-style: italic;
  font-weight: 400;
}
/* line 11, ../sass/func.scss */
.footer .content__text-p--desc .text__span--link {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: 0 0;
}
/* line 143, ../sass/footer.scss */
.footer .content__text-p--desc .text__span--link a:link {
  -webkit-tap-highlight-color: rgba(229, 59, 44, 0.4);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
/* line 148, ../sass/footer.scss */
.footer .content__text-p--desc .text__span--link a:link,
.footer .content__text-p--desc .text__span--link a:visited {
  border-bottom: 0.08em solid rgba(0, 0, 0, 0.1);
}

/* folder footer style end */
@media print, screen and (max-width: 480px) {
  /* line 162, ../sass/footer.scss */
  .footer {
    padding: 20px;
    box-sizing: border-box;
  }
}
/* highlight style start */
/* line 4, ../sass/highlight.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}

/* Base color: saturation 0; */
/* line 13, ../sass/highlight.scss */
.hljs, .hljs-subst {
  color: #444;
}

/* line 16, ../sass/highlight.scss */
.hljs-comment {
  color: #888888;
}

/* line 19, ../sass/highlight.scss */
.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
  font-weight: bold;
}

/* User color: hue: 0 */
/* line 25, ../sass/highlight.scss */
.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #880000;
}

/* line 28, ../sass/highlight.scss */
.hljs-title, .hljs-section {
  color: #880000;
  font-weight: bold;
}

/* line 32, ../sass/highlight.scss */
.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo {
  color: #BC6060;
}

/* Language color: hue: 90; */
/* line 38, ../sass/highlight.scss */
.hljs-literal {
  color: #78A960;
}

/* line 41, ../sass/highlight.scss */
.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
  color: #397300;
}

/* Meta color: hue: 200 */
/* line 47, ../sass/highlight.scss */
.hljs-meta {
  color: #1f7199;
}

/* line 50, ../sass/highlight.scss */
.hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */
/* line 56, ../sass/highlight.scss */
.hljs-emphasis {
  font-style: italic;
}

/* line 59, ../sass/highlight.scss */
.hljs-strong {
  font-weight: bold;
}

@font-face {
  font-family: 'aller-light';
  src: url("../font/aller-light.eot");
  src: url("../font/aller-light.eot?#iefix") format("embedded-opentype"), url("../font/aller-light.woff") format("woff"), url("../font/aller-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aller-bold';
  src: url("../font/aller-bold.eot");
  src: url("../font/aller-bold.eot?#iefix") format("embedded-opentype"), url("../font/aller-bold.woff") format("woff"), url("../font/aller-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'novecento-bold';
  src: url("../font/novecento-bold.eot");
  src: url("../font/novecento-bold.eot?#iefix") format("embedded-opentype"), url("../font/novecento-bold.woff") format("woff"), url("../font/novecento-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Let's get this party started */
/* line 26, ../sass/scoure.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
/* line 31, ../sass/scoure.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Handle */
/* line 39, ../sass/scoure.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(230, 230, 230, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 47, ../sass/scoure.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

/* line 50, ../sass/scoure.scss */
.highlight > pre > code {
  background: transparent;
}

/* line 53, ../sass/scoure.scss */
blockquote > pre {
  margin: 0 !important;
}

/* line 56, ../sass/scoure.scss */
.w-900 {
  max-width: 900px;
}

/* line 59, ../sass/scoure.scss */
.header {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
/* line 63, ../sass/scoure.scss */
.header .header__content {
  margin: 0 auto;
}
/* line 66, ../sass/scoure.scss */
.header a {
  text-decoration: none;
}

/* line 70, ../sass/scoure.scss */
.footer {
  margin: 20px auto;
}
/* line 72, ../sass/scoure.scss */
.footer .iconfont {
  color: #fff;
}

/*--------------------- Layout ----------------------------*/
/* line 77, ../sass/scoure.scss */
html {
  height: 100%;
}

/* line 80, ../sass/scoure.scss */
body {
  font-family: "aller-light";
  font-size: 14px;
  line-height: 18px;
  color: #30404f;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 89, ../sass/scoure.scss */
#container {
  min-height: 100%;
}

/* line 92, ../sass/scoure.scss */
#container-show {
  position: relative;
  border-bottom: 1px solid #ddd;
}

/* line 96, ../sass/scoure.scss */
a {
  color: #000;
}

/* line 99, ../sass/scoure.scss */
b,
strong {
  font-weight: normal;
  font-family: "aller-bold";
}

/* line 104, ../sass/scoure.scss */
p {
  margin: 15px 0 0;
}

/* line 107, ../sass/scoure.scss */
.annotation ol,
.annotation ul {
  margin: 25px 0;
}

/* line 111, ../sass/scoure.scss */
.annotation ol li,
.annotation ul li {
  font-size: 14px;
  line-height: 18px;
  margin: 5px 0;
}

/* line 117, ../sass/scoure.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #112233;
  line-height: 1em;
  font-weight: normal;
  font-family: "novecento-bold";
  text-transform: uppercase;
  margin: 30px 0 15px;
}

/* line 130, ../sass/scoure.scss */
h1 {
  margin-top: 40px;
}

/* line 133, ../sass/scoure.scss */
hr {
  border: 0;
  background: 1px #ddd;
  height: 1px;
  margin: 20px 0;
}

/* line 139, ../sass/scoure.scss */
code,
pre,
tt {
  font-size: 12px;
  line-height: 14px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}

/* line 148, ../sass/scoure.scss */
.annotation pre {
  display: block;
  margin: 0;
  padding: 7px 10px;
  background: #fcfcfc;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

/* line 158, ../sass/scoure.scss */
.annotation pre code {
  border: 0;
  padding: 0;
  background: transparent;
}

/* line 163, ../sass/scoure.scss */
blockquote {
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 1px 0 1px 1em;
}

/* line 168, ../sass/scoure.scss */
.sections blockquote p {
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 12px;
  line-height: 14px;
  color: #999;
  margin: 10px 0 0;
  white-space: pre-wrap;
}

/* line 176, ../sass/scoure.scss */
ul.sections {
  list-style: none;
  padding: 0 0 5px;
  margin: 0;
}

/*
  Force border-box so that % widths fit the parent
  container without overlap because of margin/padding.

  More Info : http://www.quirksmode.org/css/box.html
*/
/* line 187, ../sass/scoure.scss */
ul.sections > li > div {
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 */
}

/*---------------------- Jump Page -----------------------------*/
/* line 200, ../sass/scoure.scss */
#jump_page,
#jump_to {
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 0 25px #777;
  -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  font: 14px Arial;
  cursor: pointer;
  text-align: right;
  list-style: none;
}

/* line 213, ../sass/scoure.scss */
#jump_to a {
  text-decoration: none;
}

/* line 216, ../sass/scoure.scss */
#jump_to a.large {
  display: none;
}

/* line 219, ../sass/scoure.scss */
#jump_to a.small {
  font-size: 22px;
  font-weight: bold;
  color: #676767;
}

/* line 224, ../sass/scoure.scss */
#jump_to,
#jump_wrapper {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px 15px;
  margin: 0;
}

/* line 232, ../sass/scoure.scss */
#jump_wrapper {
  display: none;
  padding: 0;
}

/* line 236, ../sass/scoure.scss */
#jump_to:hover #jump_wrapper {
  display: block;
}

/* line 239, ../sass/scoure.scss */
#jump_page {
  padding: 5px 0 3px;
  margin: 0 0 25px 25px;
}

/* line 243, ../sass/scoure.scss */
#jump_page .source {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-top: 1px solid #eee;
}

/* line 249, ../sass/scoure.scss */
#jump_page .source:hover {
  background: #f5f5ff;
}

/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and (min-width: 320px) {
  /* line 255, ../sass/scoure.scss */
  .pilwrap {
    display: none;
  }

  /* line 258, ../sass/scoure.scss */
  ul.sections > li > div {
    display: block;
    padding: 5px 10px 0;
  }

  /* line 262, ../sass/scoure.scss */
  ul.sections > li > div.annotation ol,
  ul.sections > li > div.annotation ul {
    padding-left: 30px;
  }

  /* line 266, ../sass/scoure.scss */
  ul.sections > li > div.content {
    overflow-x: auto;
    -webkit-box-shadow: inset 0 0 5px #e5e5ee;
    box-shadow: inset 0 0 5px #e5e5ee;
    border: 1px solid #dedede;
    margin: 5px 10px;
    padding-bottom: 5px;
  }

  /* line 274, ../sass/scoure.scss */
  ul.sections > li > div.annotation pre {
    margin: 7px 0;
    padding-left: 15px;
  }

  /* line 278, ../sass/scoure.scss */
  .annotation code,
  ul.sections > li > div.annotation p tt {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 0.2em;
  }
}
/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  /* line 288, ../sass/scoure.scss */
  #container {
    position: relative;
  }

  /* line 291, ../sass/scoure.scss */
  body {
    background-color: #F5F5FF;
    font-size: 15px;
    line-height: 21px;
  }

  /* line 296, ../sass/scoure.scss */
  code,
  pre,
  tt {
    line-height: 18px;
  }

  /* line 301, ../sass/scoure.scss */
  ol,
  p,
  ul {
    margin: 0 0 15px;
  }

  /* line 306, ../sass/scoure.scss */
  #jump_to {
    padding: 5px 10px;
  }

  /* line 309, ../sass/scoure.scss */
  #jump_wrapper {
    padding: 0;
  }

  /* line 312, ../sass/scoure.scss */
  #jump_page,
  #jump_to {
    font: 10px Arial;
    text-transform: uppercase;
  }

  /* line 317, ../sass/scoure.scss */
  #jump_page .source {
    padding: 5px 10px;
  }

  /* line 320, ../sass/scoure.scss */
  #jump_to a.large {
    display: inline-block;
  }

  /* line 323, ../sass/scoure.scss */
  #jump_to a.small {
    display: none;
  }

  /* line 326, ../sass/scoure.scss */
  #background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 350px;
    background: #fff;
    border-right: 1px solid #e5e5ee;
    z-index: -1;
  }

  /* line 335, ../sass/scoure.scss */
  ul.sections > li > div.annotation ol,
  ul.sections > li > div.annotation ul {
    padding-left: 40px;
  }

  /* line 339, ../sass/scoure.scss */
  ul.sections > li {
    white-space: nowrap;
  }

  /* line 342, ../sass/scoure.scss */
  ul.sections > li > div {
    display: inline-block;
  }

  /* line 345, ../sass/scoure.scss */
  ul.sections > li > div.annotation {
    max-width: 350px;
    min-width: 350px;
    min-height: 5px;
    padding: 13px;
    overflow-x: hidden;
    white-space: normal;
    vertical-align: top;
    text-align: left;
  }

  /* line 355, ../sass/scoure.scss */
  ul.sections > li > div.annotation pre {
    margin: 15px 0;
    padding-left: 15px;
  }

  /* line 359, ../sass/scoure.scss */
  ul.sections > li > div.content {
    padding: 13px;
    vertical-align: top;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* line 366, ../sass/scoure.scss */
  .pilwrap {
    position: relative;
    display: inline;
  }

  /* line 370, ../sass/scoure.scss */
  .pilcrow {
    font: 12px Arial;
    text-decoration: none;
    color: #454545;
    position: absolute;
    top: 3px;
    left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
  }

  /* line 381, ../sass/scoure.scss */
  .for-h1 .pilcrow {
    top: 47px;
  }

  /* line 384, ../sass/scoure.scss */
  .for-h2 .pilcrow,
  .for-h3 .pilcrow,
  .for-h4 .pilcrow {
    top: 35px;
  }

  /* line 389, ../sass/scoure.scss */
  ul.sections > li > div.annotation:hover .pilcrow {
    opacity: 1;
  }
}
/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {
  /* line 395, ../sass/scoure.scss */
  body {
    font-size: 14px;
    line-height: 24px;
  }

  /* line 399, ../sass/scoure.scss */
  #background {
    width: 525px;
  }

  /* line 402, ../sass/scoure.scss */
  ul.sections > li > div.annotation {
    max-width: 525px;
    min-width: 525px;
    padding: 10px 25px 1px 50px;
  }

  /* line 407, ../sass/scoure.scss */
  ul.sections > li > div.content {
    padding: 0 15px 14px 25px;
    max-width: 700px;
  }
}
/*---------------------- Syntax Highlighting -----------------------------*/
/* line 413, ../sass/scoure.scss */
td.linenos {
  background-color: #f0f0f0;
  padding-right: 10px;
}

/* line 417, ../sass/scoure.scss */
span.lineno {
  background-color: #f0f0f0;
  padding: 0 5px;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
/* line 426, ../sass/scoure.scss */
pre code {
  display: block;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
}

/* line 432, ../sass/scoure.scss */
pre .hljs-comment,
pre .hljs-diff .hljs-header,
pre .hljs-javadoc,
pre .hljs-template_comment {
  color: #408080;
  font-style: italic;
}

/* line 439, ../sass/scoure.scss */
pre .hljs-assignment,
pre .hljs-css .hljs-rule .hljs-keyword,
pre .hljs-javascript .hljs-title,
pre .hljs-keyword,
pre .hljs-lisp .hljs-title,
pre .hljs-literal,
pre .hljs-subst,
pre .hljs-winutils {
  color: #954121;
  /*font-weight: bold*/
}

/* line 450, ../sass/scoure.scss */
pre .hljs-hexcolor,
pre .hljs-number {
  color: #40a070;
}

/* line 454, ../sass/scoure.scss */
pre .hljs-phpdoc,
pre .hljs-string,
pre .hljs-tag .hljs-value,
pre .hljs-tex .hljs-formula {
  color: #219161;
}

/* line 460, ../sass/scoure.scss */
pre .hljs-id,
pre .hljs-title {
  color: #19469D;
}

/* line 464, ../sass/scoure.scss */
pre .hljs-params {
  color: #00F;
}

/* line 467, ../sass/scoure.scss */
pre .hljs-javascript .hljs-title,
pre .hljs-lisp .hljs-title,
pre .hljs-subst {
  font-weight: normal;
}

/* line 472, ../sass/scoure.scss */
pre .hljs-class .hljs-title,
pre .hljs-haskell .hljs-label,
pre .hljs-tex .hljs-command {
  color: #458;
  font-weight: bold;
}

/* line 478, ../sass/scoure.scss */
pre .hljs-django .hljs-tag .hljs-keyword,
pre .hljs-rules .hljs-property,
pre .hljs-tag,
pre .hljs-tag .hljs-title {
  color: #000080;
  font-weight: normal;
}

/* line 485, ../sass/scoure.scss */
pre .hljs-attribute,
pre .hljs-instancevar,
pre .hljs-lisp .hljs-body,
pre .hljs-variable {
  color: #008080;
}

/* line 491, ../sass/scoure.scss */
pre .hljs-regexp {
  color: #B68;
}

/* line 494, ../sass/scoure.scss */
pre .hljs-class {
  color: #458;
  font-weight: bold;
}

/* line 498, ../sass/scoure.scss */
pre .hljs-input_number,
pre .hljs-lisp .hljs-keyword,
pre .hljs-ruby .hljs-symbol .hljs-keymethods,
pre .hljs-ruby .hljs-symbol .hljs-keyword,
pre .hljs-ruby .hljs-symbol .hljs-string,
pre .hljs-symbol,
pre .hljs-tex .hljs-special {
  color: #990073;
}

/* line 507, ../sass/scoure.scss */
pre .hljs-built_in,
pre .hljs-builtin,
pre .hljs-constructor,
pre .hljs-lisp .hljs-title {
  color: #0086b3;
}

/* line 513, ../sass/scoure.scss */
pre .hljs-cdata,
pre .hljs-doctype,
pre .hljs-pi,
pre .hljs-preprocessor,
pre .hljs-shebang {
  color: #999;
  font-weight: bold;
}

/* line 521, ../sass/scoure.scss */
pre .hljs-deletion {
  background: #fdd;
}

/* line 524, ../sass/scoure.scss */
pre .hljs-addition {
  background: #dfd;
}

/* line 527, ../sass/scoure.scss */
pre .hljs-diff .hljs-change {
  background: #0086b3;
}

/* line 530, ../sass/scoure.scss */
pre .hljs-chunk {
  color: #aaa;
}

/* line 533, ../sass/scoure.scss */
pre .hljs-tex .hljs-formula {
  opacity: 0.5;
}

@media print, screen and (max-width: 720px) {
  /* line 537, ../sass/scoure.scss */
  pre {
    max-width: 370px;
  }
}
@media print, screen and (max-width: 800px) {
  /* line 542, ../sass/scoure.scss */
  pre {
    max-width: 370px;
  }
}
/* folder header style end */
@media print, screen and (max-width: 480px) {
  /* line 550, ../sass/scoure.scss */
  code {
    word-wrap: break-word;
  }
}

/*# sourceMappingURL=scoure.css.map */
