@import "func";
/* folder container style start */
div.container {
    margin: 2em auto;
    padding: 1em;
    box-sizing: border-box;
    direction: ltr;
    line-height: 1.3;
    font-size: 1em;
    @import "markdownToc";
    @import "reference";
    & > h1 {
        margin: 0 0 0.1em;
        background: none;
        font-size: 3em;
        overflow: visible;
        line-height: 1.3;
        margin-bottom: 0.25em;
        padding: 0;
        direction: ltr;
        border-bottom: 1px solid #aaa;
        margin: 0 0 0.1em;
        background: none;
        font-size: 3em;
        overflow: visible;
        line-height: 1.3;
        margin-bottom: 0.25em;
        padding: 0;
        direction: ltr;
        word-wrap: break-word;
    }
    & > p > strong > em {
        font-size: 14px;
        font-weight: 100;
        zoom: 1;
        vertical-align: middle;
        text-overflow: ellipsis;
        line-height: 20px;
    }
    ol,
    ul {
        text-align: left;
        vertical-align: top;
        color: rgba(255, 255, 255, 0.5);
    }
    ul {
        padding: 0;
        & > li {
            margin: 0 0 0.5em 10px;
            color: #333;
        }
    }
    ol {
        li {
            color: #363644;
            padding: 1px 5px;
        }
    }
    pre {
        background: #f5f5f5;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 12px;
        color: #333;
        word-wrap: normal;
        white-space: pre;
        overflow-x: auto;
        /*-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
        box-shadow: inset 0 0 10px rgba(0,0,0,0.1);*/
    }
    dl,
    ol,
    p,
    pre,
    table,
    ul {
        margin-bottom: 1em;
    }
    table {
        color: #f6e6cc;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-left: 1px solid #3B5F9B;
        border-top: 1px solid #3B5F9B;
    }
    td,
    th {
        max-width: 700px;
        border-left: 1px dotted #ccc;
        border-right: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
        border-top: 1px dotted #ccc;
        padding: 3px 5px;
    }
    th {
        background: #3B5F9B;
        color: #fff;
    }
    tbody,
    thead {
        border: 3px solid #3B5F9B;
    }
    td {
        background: #fff;
        color: #777;
    }
    img {
        display: inline-block;
        /*border: 5px solid rgba(246, 247, 248, 0.5);
        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
        box-shadow: 1px 1px 1px rgba(0,0,0,0.08);*/
        width: auto;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        min-height: 150px;
        max-height: 600px;
        /*border: 3px dotted #627680;*/
        overflow: hidden;
    }
    a {
        background-position: center right;
        background-repeat: no-repeat;
        background-image: url("../bgimg/external-link-ltr-icon.png");
        background-image: -o-linear-gradient(transparent, transparent), url("../bgimg/external-link-ltr-icon.png");
        padding-right: 13px;
    }
    blockquote ul {
        margin: 0 0 0 20px;
        li {
            list-style: inherit;
            transition: none;
            padding: 0;
            margin: 0 0 0.1em;
            position: initial;
            color: #ba832c;
            &::before {
                content: none;
            }
            ul {
                margin-left: 20px;
            }
        }
    }
}
@media print, screen and (max-width: 720px) {
    pre {
        max-width: 370px;
    }
}
@media print, screen and (max-width: 800px) {
    pre {
        max-width: 370px;
    }
}
@media print, screen and (max-width: 960px) {}
/* folder header style end */
@media print, screen and (max-width: 480px) {
    table {
        overflow-x: overlay;
        max-width: 340px;
        display: inline-block;
        td,
        th {
            min-width: 100px;
        }
    }
    .content-box__markdown--toc {
        margin: 15px 0 20px 10px !important;
    }
    p {
        a {
            text-wrap: normal;
            word-wrap: break-word;
            word-break: break-all;
        }
        code {
            word-wrap: break-word;
            word-break: break-all;
        }
    }
    pre {
        max-width: 100% !important;
        padding: 10px 0 !important;
    }
    .container {
        margin: 0 !important;
    }
}
/* folder container style end */
