@import "func";
/* folder footer style start */
.footer {
    padding: 0;
    .footer {
        @include element ('backToTop') {
            &-btn {
                position: fixed;
                right: 10px;
                bottom: 10px;
                display: none;
                width: 50px;
                height: 50px;
                background: #ddd;
                color: rgba(39, 174, 96, 0.6);
                text-align: center;
                border-radius: 2px;
                z-index: 1;
                @include modifier ('icon') {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    top: 10px;
                    left: 10px;
                    color: #fff;
                    position: absolute;
                    font-size: 24px;
                    cursor: pointer;
                    text-rendering: auto;
                    display: inline-block;
                    font-style: normal;
                    font-weight: 400;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
    }
    @include element ('github') {
        &-btn {
            position: fixed;
            right: -60px;
            bottom: 50px;
            z-index: 10;
            line-height: 30px;
            text-align: center;
            width: 250px;
            font-size: 16px;
            text-decoration: none;
            color: #f5f5f5 !important;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
            font-weight: bold;
            text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
            -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
            -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
            -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
            -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
            box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
            border-collapse: separate;
            border: 1px solid #000;
            background-color: #363644;
            background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
            background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
            background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
            background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
            background-image: -o-radial-gradient(circle, #4c5b63, #363644);
            background-repeat: no-repeat;
            text-decoration: none;
            display: inline-block;
            padding: 2px;
            margin: -2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            &:hover {
                text-decoration: none;
                background-color: #4d4d60;
                background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
                background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
                background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
                background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
                background-image: -o-radial-gradient(circle, #627680, #4d4d60);
                background-repeat: no-repeat;
                -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
                -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
                -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
                -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
                box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
                border-collapse: separate;
            }
        }
    }
    .content {
        @include element ('section') {
            display: inline;
        }
        @include element ('a') {
            &-btn {
                display: block;
            }
        }
        @include element ('p') {
            @include modifier ('word') {
                padding: 0;
                margin: 0.5em 0;
                font-weight: bold;
                break-inside: avoid-column;
                word-break: break-all;
                word-wrap: break-word;
            }
        }
        @include element ('text') {
            &-p {
                @include modifier ('desc') {
                    font-size: 0.875em;
                    text-align: left;
                    margin: 0 0 2em;
                    color: rgba(0, 0, 0, .35);
                    em {
                        font-style: italic;
                        font-weight: 400;
                    }
                    .text {
                        @include element ('span') {
                            @include modifier ('link') {
                                font-size: 100%;
                                vertical-align: baseline;
                                margin: 0;
                                padding: 0;
                                outline: 0;
                                border: 0;
                                background: 0 0;
                                a:link {
                                    -webkit-tap-highlight-color: rgba(229, 59, 44, .4);
                                    -ms-touch-action: manipulation;
                                    touch-action: manipulation;
                                }
                                a:link,
                                a:visited {
                                    border-bottom: 0.08em solid rgba(0, 0, 0, .1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* folder footer style end */
