@import "footer";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}
#toc {
    display: inline-block;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,0.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
    .toc {
        a {
            display: block;
            padding: 3px 5px;
            border-bottom: 0;
            font-size: 12px;
            color: #364149;
            background: transparent;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 100;
            position: relative;
            text-decoration: none;
            &:before {
                font-size: 16px;
                margin-right: 5px;
                font-style: normal;
            }
        }
        & > ul {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            list-style: none;
            margin: 0;
            padding: 0;
            -webkit-transition: top 0.5s ease;
            -moz-transition: top 0.5s ease;
            -o-transition: top 0.5s ease;
            transition: top 0.5s ease;
            li {
                position: relative;
                font-size: 12px;
            }
            & > li {
                list-style: none;
                & > a {
                    border-bottom: 1px solid #ccc;
                    &:nth-child(1) {
                        height: 51px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
                        color: transparent;
                        font-size: 10px;
                        content: none;
                        margin-bottom: 10px;
                    }
                }
                & > ul {
                    padding: 0 0 0 20px;
                    box-sizing: border-box;
                    & > li {
                        counter-increment: section;
                        counter-reset: subsection;
                        &::before {
                            content: counter(section) ". ";
                            position: absolute;
                            left: -10px;
                            top: 5px;
                            background: transparent;
                            font-size: 1em;
                        }
                        & > ul {
                            padding: 0;
                            box-sizing: border-box;
                            line-height: 1;
                            & > li {
                                counter-increment: subsection;
                                &::before {
                                    content: counter(section) "." counter(subsection) " ";
                                    position: absolute;
                                    left: -20px;
                                    top: 3px;
                                    background: transparent;
                                    font-size: 1em;
                                }
                                & > ul {
                                    padding: 0;
                                    & > li {
                                        a {
                                            color: #009688;
                                            padding: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.book-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 300px;
    bottom: 0;
    overflow-y: auto;
    color: #000;
    background: #fff;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
    .body-inner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        .book-header {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            overflow: visible;
            height: 50px;
            z-index: 2;
            font-size: 0.85em;
            color: #7e888b;
            margin: 0;
            padding: 0;
            background: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
            box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
            .header__content {
                text-align: center;
                .content__title {
                    display: inline;
                    font-size: 320%;
                    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
                }
                .content__btn {
                    font-size: 90%;
                }
            }
        }
        .page-wrapper {
            position: relative;
            outline: 0;
            .page-inner {
                max-width: 800px;
                margin: 0 auto;
                padding: 20px 0 40px;
            }
        }
    }
}
.book-footer {
    padding: 0 50px;
}
#content {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.4;
    color: #333;
    overflow: hidden;
    line-height: 1.6;
    word-wrap: break-word;
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    vertical-align: baseline;
    max-width: 100%;
    width: 100%;
    color: rgb(51, 51, 51);
    text-align: start;
    text-indent: 0;
    word-spacing: 0;
    tbody,
    thead {
        border: 3px solid #3B5F9B;
    }
    td {
        padding: 6px 13px;
        border: 1px dotted #ddd;
        background: #fff;
        color: #777;
    }
    tr {
        border-top: 1px dotted #ccc;
        color: inherit;
        background-color: #fdf6e3;
        padding: 4px 5px;
        border-width: 1px 0 0;
        line-height: 20px;
        vertical-align: top;
        text-align: left;
    }
    th {
        font-weight: bold;
        padding: 6px 13px;
        border-left: 1px dotted #ddd;
        border-bottom: 1px dotted #ddd;
        border-right: 1px dotted #ddd;
        border-top: 1px dotted #ccc;
        background: #3B5F9B;
        color: #fff;
    }
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba(230,230,230,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
#ds-thread.ds-thread {
    #ds-reset {
        .ds-comments-info {
            .ds-comments-tabs {
                li.ds-tab {
                    .ds-comments-tab-weibo {
                        display: none;
                    }
                    .ds-comments-tab-duoshuo {
                        border: none;
                        background-color: transparent;
                    }
                }
            }
        }
        .ds-powered-by {
            display: none;
        }
    }
}
