@import "func";
/* folder markdown-toc style start */
.content {
    @include element ('section') {
        .content {
            &-box {
                @include element ('markdown') {
                    @include modifier ('toc') {
                        margin: 15px 0 20px 50px;
                        display: table;
                        zoom: 1;
                        padding: 7px 10px;
                        border: 1px solid #aaa;
                        background-color: #f9f9f9;
                        font-size: 95%;
                        direction: ltr;
                        line-height: 1.6;
                        font-family: sans-serif;
                        box-sizing: border-box;
                        overflow: hidden;
                        & > ol {
                            margin: 0.3em 0 !important;
                        }
                        ol {
                            margin: 0 0 0 1em;
                            padding: 0;
                            counter-reset: out;
                            list-style: none;
                            text-align: left;
                            margin-bottom: 0;
                            li {
                                color: #ba832c;
                                &:before {
                                    margin-right: 5px;
                                    counter-increment: out;
                                    content: counters(out, ".") " ";
                                }
                                a {
                                    text-decoration: none;
                                    background: none;
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* folder markdown-toc style end */
