/* footnote style start */
sup.reference {
    font-weight: normal;
    font-style: normal;
    unicode-bidi: -moz-isolate;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    white-space: nowrap;
    direction: ltr;
}
sup.reference a {
    white-space: nowrap;
    text-decoration: none;
    color: #0b0080;
    background: none;
    font-size: 10px;
    padding: 0 3px;
}
sub,
sup {
    line-height: 1;
}
.footnote-box {
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 100%;
    clear: both;
    font-size: 88%;
    text-align: left;
    padding: 3px;
    margin: 0 auto;
    background: #fdfdfd;
    display: inline-block;
    ul {
        display: inline-block;
        list-style-type: decimal;
        list-style-image: none;
        padding: 0;
        margin: 0.3em 2em;
        text-align: left;
        color: #252525;
        counter-reset: xxx 0;
        line-height: 0.3;
        li {
            list-style: decimal;
            transition: none;
            padding: 0;
            margin: 0 0 0.1em;
            position: initial;
            color: #252525;
            line-height: 1.6;
            font-size: 0.875em;
            &::before {
                content: none;
            }
        }
    }
    .backlink {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-right: 5px;
        b a {
            background-image: none;
            padding: 0;
            text-decoration: none;
            color: #0645ad;
            &:visited {
                font-weight: bold;
                color: #0b0080;
            }
        }
    }
    .reference-text {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        word-break: break-all;
        word-wrap: break-word;
    }
    a {
        text-decoration: none;
        color: #0645ad;
    }
}
