$loader-size: 100px;
.box {
  width: $loader-size;
  height: $loader-size;
  &__circle {
    position: absolute;
    width: $loader-size;
    height: $loader-size;
    &:first-child {
      transform: skew(30deg,20deg);
    }
    &:last-child {
      transform: skew(-30deg,-20deg) scale(-1, 1);
      .circle {
        animation-delay: -0.5s;
      }
    }
    .circle {
      animation: rotate 1s linear infinite;
      fill: rgba(0, 0, 0, 0.2);
    }
  }
  .circle {
    width: $loader-size;
    height: $loader-size;
    border-radius: 50%;
    border-top: 2px solid red;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
