<style type="text/css">
  footer {
    margin-top: 10px;
    margin-bottom: 40px;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    width: 400px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
  }
  footer a {
    color: #39c;
    text-decoration: none;
  }
  footer .iconfont {
    color: #39c;
    font-size: 12px;
  }
  footer img {
    width: 12px;
  }
</style>
<footer>
  <small>
    Copyright ©2006-2023 康健生活 ➤ 
    <a href="./workingspace.html">README</a>
  </small>
  <br>
  <small>Living in China. 
    <a href="http://kangkk.com/" target="_blank">KangKK.COM</a> ➤ 
    <a href="https://kangkk.cn/" target="_blank">KangKK.CN</a> ➤ 〔♩ 
    <a href="#"><i class="iconfont">&#xe60b;</i></a> ♪ 
    <a href="https://KangKK.NOTION.SITE"><i class="iconfont">&#xec37;</i></a> ♫ 
    <a href="#"><i class="iconfont">&#xf1b5;</i></a> ♬〕
  </small>
  <br>
  <small><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备16020839号-1</a> ➤ <a target="_blank"
      href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=23128202000134"><img src="https://gw.alicdn.com/tfs/TB1jwakrbH1gK0jSZFwXXc7aXXa-20-20.png" alt="黑公网安备"/> 黑公网安备
      23128202000134号</a></small>
</footer>