<style type="text/css">
  .header {
    width: 250px;
  }
  .header--title {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    color: #11181b;
    font-size: 28px;
    transform: rotateX(180deg) rotateY(180deg);
  }
  .hr-link {
    background-color: #bbb;
    background-image: -webkit-linear-gradient(0deg,#fff,#bbb,#fff);
    border: 0;
    height: 1px;
    margin: 0 0 20px;
  }
  .header--title_sup {
    vertical-align: super;
  }
  .header--title_sub {
    font-size: 30px;
    vertical-align: bottom;
  }
</style>
<header class="header">
  <h1><sub><svg class="icon header--title_sub" aria-hidden="true"><use xlink:href="#kk-hudielan"></use></svg></sub><span class="header--title">KangKK</span><sup class="iconfont header--title_sup">&#xe606;</sup></h1>
  <hr class="hr-link">
</header>
