<style type="text/css">
  .left {
    width: 250px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-right: 50px;
  }
  .left a {
    text-decoration: none;
  }
  .left-content {
    color: #777;
  }
</style>
<div class="left">
  <%- include('./header') %>
  <p class="left-content">My name is JIAN KANG from <a
      href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D%E9%BB%91%E9%BE%99%E6%B1%9F%E7%9C%81"
      style="color: #c00;" target="_blank">the north of China</a>, and I usually use the name that it's Kang Kang(KK.)
    on the Internet. I
    graduated from <a href="http://www.hrbust.edu.cn/" style="color: #EA760A;" target="_blank">Harbin
      University of Science and Technology</a>. I used to work on <a href="https://www.tongdun.cn/"
      style="color: #2fb2ab;" target="_blank">TongDun
      Technology</a> and I'm a freelancer now.
  </p>
</div>