  <style type="text/css">
    .right {
      width: 400px;
      font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
    }
    .right a {
      text-decoration: none;
    }
    .right i {
      margin-right: 5px;
    }
    .right table, .right tr {
      overflow: hidden;
    }
    .right tr:first-of-type * {
      color: #39c;
    }
    .right .fig-ansi {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      padding: 5px;
      line-height: 1;
      font-size: 12px;
      color: #fff;
      border: 0;
      background: #333333;
      font-family: "Courier New", Monospace;
      white-space: pre;
      height: 80px;
      margin: 0;
    }
    .github--ghchart {
      width: 100%;
      height: auto;
      /* border: 1px solid #666; */
      padding: 10px 0;
      box-sizing: border-box;
      position: relative;
      left: -20px;
    }
  </style>
  <div class="right">
    <table>
      <tbody>
        <tr>
          <td><a href="./cn/candies.html"><i class="iconfont">&#xe61b;</i>糖果</a></td>
          <td><a href="./cn/waterChestnut.html"><i class="iconfont">&#xe601;</i>菱角</a></td>
          <td><a href="./cn/longan.html"><i class="iconfont">&#xf879;</i>龙眼</a></td>
          <td><a href="https://kangkk.cn/index.php/康健生活"><i class="iconfont">&#xe607;</i>栗子</a></td>
        </tr>
        <tr>
          <td colspan="4" style="position: relative;">
            <img class="github--ghchart" src="https://ghchart.rshah.org/kangkk" alt="kangkk's Github chart" />
          </td>
        </tr>
        <tr>
          <td colspan="2"><i class="iconfont">&#xe60a;</i>KangJianXYZ</td>
          <td colspan="2"><i class="iconfont">&#xe641;</i>122-478-499</td>
        </tr>
        <tr>
          <td colspan="2"><i class="iconfont">&#xe63b;</i>Kang@KangKK.COM</td>
          <td colspan="2"><i class="iconfont">&#xe62a;</i>KangKK.COM</td>
        </tr>
        <tr>
          <td colspan="2"><i class="iconfont">&#xec37;</i>KangKK.NOTION.SITE</td>
          <td colspan="2"><i class="iconfont">&#xe600;</i>KangKK.CN</td>
        </tr>
      </tbody>
    </table>
    <%- include('./footer') %>
  </div>