<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>KK.</title>
  <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
  <link crossorigin="anonymous" integrity="sha384-9Z9AuAj0Xi0z7WFOSgjjow8EnNY9wPNp925TVLlAyWhvZPsf5Ks23Ex0mxIrWJzJ"
    href="https://s2.ssl.qhres2.com/baomitu/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <style type="text/css">
    .wrapper {
      display: flex;
      margin-top: 50px;
      justify-content: center;
    }
  </style>
  <%- include('../assets') %>
</head>

<body>
  <div class="wrapper">
    <%- include('./left') %>
    <%- include('./right') %>
  </div>
</body>

</html>