<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KC.</title>
    <link href="../favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/mark.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../static/css/lib-wiki.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <aside id="toc"></aside>
    <div class="book-body">
        <div class="body-inner">
            <header class="book-header">
                <div class="header__content w-900">
                    <h1 class="content__title">
                    <a class="title__link-a" href="https://github.com/kangkk" target="_blank">kangkk<span class="title__link-span--icon iconfont icon-github"></span></a>
                </h1>
                    <small class="content__btn">
                    <a class="content__btn-a" href="./index.html">BACK HOME</a>
                </small>
                </div>
            </header>
            <div class="page-wrapper">
                <div class="page-inner">
                    <div id="content"></div>
                </div>
            </div>
            <footer class="book-footer footer">
                <a class="footer__backToTop-btn" href="#" id="back-to-top">
                    <i class="footer__backToTop-btn--icon iconfont icon-chevronup"></i>
                </a>
                <a class="footer__github-btn" href="https://github.com/kangkk" target="_blank">Kangkk on GitHub</a>
                <div class="ds-thread" data-thread-key="unicode-kcFileId-uuid-2016-08-016" data-title="unicode-desc" data-url="http://kangkk.com/lib/unicode.html"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {
                        short_name: "kangkk"
                    };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <section class="content__section">
                    <p class="content__a-btn">
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                            <img alt="Creative Commons License" style="border-width:0" src="../static/bgimg/licensebuttons.png">
                        </a>
                    </p>
                    <p class="content__p--word"><del>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"> Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
              </a></del>. <sub>《unicode》这篇内容是我闲暇时整理所得，全部内容皆来源于其他网站，所以不在<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"> Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
              </a>授权之内，特此声明！</sub>
                    </p>
                    <p class="content__text-p--desc">
                        <em>这里的大多数文章都写于很多年以前，十年历程，多于怀旧（@2006-2016）</em>
                        <br>Copyright (C) 2016 Kangkk.com, All Rights Reserved
                        <br>Made in China.
                        <span class="text__span--link">
                  ✎
                  <a href="../index.html">Home</a> –
                  <a href="../cn/mood.html">Mood</a> –
                  <a href="../cn/note.html">Note</a>.
                </span>
                    </p>
                </section>
            </footer>
        </div>
    </div>
    <textarea name="" id="md_hiddle" cols="30" rows="10" style="display:none;">
    </textarea>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/marked.min.js"></script>
    <script src="../static/js/marked-toc.js"></script>
    <script type="text/javascript">
        ! function($) {
            $(window).scroll(function() {
                $(this).scrollTop() > 100 ? $("#back-to-top").fadeIn() : $("#back-to-top").fadeOut()
            }), $("#back-to-top").on("click", function(b) {
                return b.preventDefault(), $("html, body").animate({
                    scrollTop: 0
                }, 100), !1
            });
        }(jQuery);
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?95e6652d7f50f8def7540e687f338f60";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        document.getElementById('content').innerHTML =
            marked(document.getElementById('md_hiddle').value);
        new Toc('content', {
            'level': 5,
            'top': 200,
            'class': 'toc',
            'targetId': 'toc'
        });
    </script>
</body>

</html>
