<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="wb:webmaster" content="7e72a191affb5721" />
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keyWorlds %>">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <!-- <meta http-equiv="Expires" content="0">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Cache-control" content="no-cache">
      <meta http-equiv="Cache" content="no-cache"> -->
    <title>KK.</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="shortcut icon" href="<%= relativePath %>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="all" href="../static/css/scoure.css">
    <!--[if lt IE 9]>
    <script src="../static/js/html5.js"></script>
    <![endif]-->
    <script type="application/javascript" src="<%= relativePath %>/static/js/jquery.min.js"></script>
</head>

<body class="body__<%= folder %>">
    <header class="header">
        <div class="header__content w-900">
            <h1 class="content__title">
                  <a class="title__link-a" href="https://github.com/kangkk" target="_blank">kangkk<span class="title__link-span--icon iconfont icon-github"></span></a>
              </h1>
            <small class="content__btn">
                  <a class="content__btn-a" href="./<%= folder %>.html">BACK HOME</a>
              </small>
        </div>
    </header>
    <div class="container container-hiddle" id="container-hiddle" style="display:none;">
        <%- content %>
    </div>
    <div id="container-show" class="container-show">
        <div id="background"></div>
        <ul id="ul-show" class="sections">

        </ul>
    </div>
    <script type="text/javascript">
        console.time('test documentFragment')
        var presign = false;
        var itmp = 0;
        var oFragmeng = document.createDocumentFragment();
        var container_children = document.getElementById('container-hiddle').childNodes;

        for (var i = 0, length = container_children.length; i < length; i += 1) {

            var childClone = container_children[i].cloneNode(true);

            if (container_children[i].nodeName === 'H1' && container_children[i].nodeName !== '#text') {
                itmp = itmp + 1
                var li = document.createElement("li");
                li.setAttribute('id', 'section-' + itmp);
                var annotation = document.createElement("div");
                annotation.setAttribute('class', 'annotation');
                annotation.appendChild(childClone);
                li.appendChild(annotation);
                oFragmeng.appendChild(li);
            } else if (container_children[i].nodeName !== '#text') {
                itmp = itmp + 1
                var li = document.createElement("li");
                var annotation = document.createElement("div");
                var pilwrap = document.createElement("div");
                var pilcrow = document.createElement("a");

                li.setAttribute('id', 'section-' + itmp);
                annotation.setAttribute('class', 'annotation');
                pilwrap.setAttribute('class', 'pilwrap');
                pilcrow.setAttribute('class', 'pilcrow');

                pilcrow.href = '#section-' + itmp;
                pilcrow.text = '¶'

                pilwrap.appendChild(pilcrow);
                annotation.appendChild(pilwrap);

                if (container_children[i].nodeName === 'PRE') {
                    var content = document.createElement("div");
                    var highlight = document.createElement("div");

                    content.setAttribute('class', 'content');
                    highlight.setAttribute('class', 'highlight');

                    content.appendChild(highlight);
                    highlight.appendChild(childClone);
                    li.appendChild(annotation);
                    li.appendChild(content);
                    oFragmeng.appendChild(li);
                    presign = true;
                } else {
                    if (presign) {
                        itmp = itmp - 1;
                        oFragmeng.children['section-' + itmp].firstElementChild.appendChild(childClone);
                        presign = false;
                    } else {
                        annotation.appendChild(childClone);
                        li.appendChild(annotation);
                        oFragmeng.appendChild(li);
                    }
                }
            }
        }
        document.getElementById('ul-show').appendChild(oFragmeng);
        oFragmeng = null;
        console.timeEnd('test documentFragment')
    </script>

    <%- include('footer') %>
