:root {
  --width: 100px;
}
.loading {
  display: inline-block;
  width: var(--width);
  height: var(--width);
  border: 2px solid rgba(0,0,0,.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}